[2020-04-15 18:51] joatmon08 opened #1 "Move root lib package into "packages/" directory"
New package will be called `cdktf`.

[2020-04-15 19:22] anubhavmishra opened #3 "tfcdk get command"

[2020-04-15 19:23] anubhavmishra opened #4 "tfcdk init needs to implement tfcdk get"

[2020-04-15 19:25] anubhavmishra opened #5 "implement cdktf config file"
Parsing and downloading the providers and modules

[2020-04-15 19:26] anubhavmishra opened #6 "add support for python applications"

[2020-04-16 07:48] skorfmann opened #7 "Monorepo Tooling Setup"
Since we're restructuring this repo into a monorepo, we'll have to add tooling to support this. In particular:

- Lerna
- Yarn Workspaces

Besides from that, we should look into the custom tooling of [cdk8s](https://github.com/awslabs/cdk8s/tree/master/tools)

[2020-04-16 19:52] skorfmann opened #9 "Token class was removed in Constructs v3"
Version 3 of the constructs package [got released](https://github.com/aws/constructs/blob/master/CHANGELOG.md) two days ago. One of the breaking changes was the [removal of the Token class](https://github.com/aws/constructs/pull/34), which is used in this project (within `TerraformResource`).

We'll have to come up with a solution, if we don't want to be stuck with v2 forever. Most pragmatic would

[2020-04-17 08:36] #1 closed, assigned to nobody

[2020-04-17 08:37] #9 closed, assigned to nobody

[2020-04-17 10:51] #5 closed, assigned to skorfmann

[2020-04-17 17:49] anubhavmishra opened #10 "prompt to override providers file in cdk.out"

[2020-04-17 17:51] anubhavmishra opened #11 "document manual support for other Terraform backend"

[2020-04-18 19:24] skorfmann opened #12 "Implement Computed Attributes for Providers"
We do have the following working computed types:

[code]

We're missing the following types for computed attributes:

[code]

While the interfaces for complex computed attributes are generated, they're not implemented the corresponding attribute getter.

[code]

I'd expect, that I can access those attributes as any other attribute as well.

edit: updated with list of types we have / miss

[2020-04-18 19:53] skorfmann opened #13 "Namespaced Module Exports"
In #8, I discovered [naming collisions](https://github.com/hashicorp/terraform-cdk-poc/pull/8#discussion_r410504149) between a few modules (essentially, two different resources are generating identical names for interfaces / classes). That's fine, as along it's scoped to the resource's module. However, when generating an `index.ts` file (e.g. for the AWS Provider), those duplicated names are confl

[2020-04-20 09:09] skorfmann opened #14 "Build Custom jsii/superchain Docker Image"
We're using the [jsii/superchain](https://github.com/aws/jsii/tree/master/superchain) to run our builds via github actions. In order to make those builds work, we need Terraform (and jq to install it) as dependencies. They're installed during the build run at the moment. It would be better to have a prebuilt Docker image.

[2020-04-20 13:15] skorfmann opened #15 "Stack / Resource Metadata"
We could make use of the [comment property](https://www.terraform.io/docs/configuration/syntax-json.html#comment-properties) to encode metadata into the generated Terraform JSON.

### On Stack level:
- Stack Name
- cdktf Version

### On Resource level:
- cdk path

[2020-04-20 14:31] joatmon08 opened #16 "Extend Support of Module Sources beyond Terraform Registry"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-20 15:29] #7 closed, assigned to nobody

[2020-04-20 15:40] #3 closed, assigned to skorfmann

[2020-04-20 18:16] anubhavmishra opened #18 "Update README.md to reflect the current state of the project"

[2020-04-21 18:21] anubhavmishra opened #20 "Support provider configuration"

[2020-04-21 18:23] anubhavmishra opened #21 "Implement an escape hatch"

[2020-04-21 18:29] anubhavmishra opened #22 "Documentation to show how to generate a python cdktf package."

[2020-04-21 19:20] #4 closed, assigned to skorfmann

[2020-04-25 20:01] skorfmann opened #24 "Reconcile Attributes between Provider Schema and Documentation"
Just came across this edge case:

For the [aws_acm_certificate](https://www.terraform.io/docs/providers/aws/r/acm_certificate.html) resource, it depends on the use case which of the attributes are required.

There are three use cases:

- Create AWS
- Import
- Create Private

Let's take the attribute `certificate_authority_arn` as an example. It's only required when using it for the `Create Private

[2020-04-26 08:23] skorfmann opened #25 "Complex Computed Optional Types"
There are optional computed complex types in the provider schema, e.g. in the [aws_security_group](https://www.terraform.io/docs/providers/aws/r/security_group.html) the attributes `egress` / `ingress`. Here an excerpt from the schema:

[code]

As I understand `optional` && `computed`, this means there could be `egress` or `ingress` rules created by AWS. Which, at least for `egress` is true. Howev

[2020-04-26 08:55] skorfmann opened #26 "Provider Schema Inconsistencies"
For some reason the semantics of the combination of `computed` and `optional` differs for attributes in the Terraform provider schema.

One example in the [s3 bucket](https://www.terraform.io/docs/providers/aws/r/s3_bucket.html) resource:

The `arn` attribute is `computed` and `optional`, but it wouldn't make sense to provide a value for this.

[code]

For the `bucket` attribute, it makes a lot of

[2020-04-26 18:54] skorfmann opened #27 "Terraform Registry API Response Differs from Actual Implementation"
For this [VPC module](https://github.com/terraform-aws-modules/terraform-aws-vpc), there's a discrepancy for the actual implementation of the inputs on Github and the API response of the Terraform registry.

Terraform Registry response:
[code]

Actual [implementation](https://github.com/terraform-aws-modules/terraform-aws-vpc/blob/23b0a02d2a3225a05ddf5f31d9a32728bf5505c3/variables.tf#L85-L89)
[cod

[2020-04-26 19:17] skorfmann opened #28 "Module Generation Should Generate Output Getters"
At the moment, the [module generator](https://github.com/hashicorp/terraform-cdk-poc/blob/cf417c039115a4b39fe3ab40c448146271dbdaa9/packages/cdktf-cli/lib/get/generator/module-generator.ts) generates accessors and interfaces for inputs. We should extend it to provide getters for outputs as well.

[2020-04-27 08:55] skorfmann opened #29 "Nested Computed Attributes for Block Types"
The resource [Kinesis Analytics Application](https://www.terraform.io/docs/providers/aws/r/kinesis_analytics_application.html) has nested computed attributes for block types which aren't listed on the documentation. I think it makes sense to ignore those attributes. Thoughts?

[code]

The [Go Schema](https://github.com/terraform-providers/terraform-provider-aws/blob/dcb00966d9ec8383883ad62750cb245

[2020-04-27 12:47] skorfmann opened #30 "Make sure the "cdktf init" handles directory creation properly"
The `sscaff` is performing a `mkdir(targetDir, { recursive: true})` in order to make sure the targetDir exists. The `recursive` option was introduced in node `10.12`. When using an older node version, the init command fails.

We should make sure, the user is using at least node `10.12` and raise an error if the user runs something older.

[Specifying it](https://stackoverflow.com/questions/2934968

[2020-04-27 20:23] skorfmann opened #32 "Stack Outputs"
It'd be good when users could define outputs for their stacks, so that they can easily access their created resource data.

Something like:

[code]

They type could probably inferred.

[2020-04-27 20:35] skorfmann opened #33 "Support for Synthesizing Terraform Remote State Backends"
I think that remote state functionality should be supported as well. That would enable the usage in more complex environments (e.g. thinking of centrally managed VPCs)

[2020-04-27 20:45] skorfmann opened #34 "Cross-Reference Stack Outputs"
I'd love to see cross references between Terraform Stacks work seamlessly and in an unsurprising way for the user.

The AWS CDK has something [similar in place](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/outputs-section-structure.html)

[code]

Preconditions are #32  and depending on the implementation of multiple stacks #33

[2020-04-27 21:00] skorfmann opened #35 "Handling of Multiple Stacks"
What should be the default for handling multiple stacks within an app?

1. All in the same output directory (well, why have multiple stacks then?)
1. A dedicated folder per stack, totally separated in terms of state
1. A dedicated folder per stack, integrated as modules - monolithic state

[2020-04-28 07:37] skorfmann opened #36 "Build and Push Docker Image Automatically"
Follow up for #23

[2020-04-28 12:42] #14 closed, assigned to nobody

[2020-04-30 18:36] #21 closed, assigned to nobody

[2020-04-30 18:50] anubhavmishra opened #38 "Publish cdktf and cdktf-cli to NPM package registry"

[2020-04-30 19:27] skorfmann opened #39 "Handle jsii incompatible names"
![Screenshot 2020-04-30 at 21 26 12](https://user-images.githubusercontent.com/136789/80750982-48d41500-8b29-11ea-9400-a2dcc4c63231.png)

Follow up for #31

[2020-04-30 19:38] #12 closed, assigned to skorfmann

[2020-05-02 17:45] skorfmann opened #42 "Computed Lists and Maps"
With the current implementation of computed Lists and Maps we can access single elements (see #31 / #12). What we can't do right now:

- Iterate programatically
- Pass a computed List / Map as input to another Resource / Module

[2020-05-02 18:01] skorfmann opened #43 "Provider Metadata for Resources"
We can't tell at runtime from which provider version the resources were generated. I think it would be good for compatibility checking and version locking to have this knowledge in the generated resource classes. Something like this perhaps:

[code]

The `providerName` is straightforward. The `providerVersion` is not easily available at the moment. The only idea I have right now: Parse the provide

[2020-05-02 18:35] skorfmann opened #44 "Provider Alias not part of Schema Anymore"
In Terrastack (~ a month ago) the provider `alias` attribute was part of the Schema. Now it's missing from the AWS provider schema. Wondering if that change was intentional.

[2020-05-02 19:51] skorfmann opened #45 "Handle Missing Attribute Types"
As a follow up for #31, there are a handful of unhandled types, e.g.

[code]

These are:

- deeply nested computed complex types in the config interface
- nested computed complex type in computed complex types

[2020-05-03 13:52] skorfmann opened #46 "Publish Terraform Provider Schema"
It'd be pretty cool to publish the provider schema JSON somehow (e.g. github pages or s3 / cloudfront). It'd simplify and speed up the resource generation significantly.

[2020-05-03 14:09] skorfmann opened #47 "Integration Tests for Examples"
To ensure that our examples are always in a valid, deployable state, it'd be very helpful to have full end2end tests for our examples.

Each example is:

- Build
- Synthesized
- Planned / Applied
- Destroyed

[2020-05-03 15:37] skorfmann opened #50 "Lock Exact Version of Provider for jsii Provider Test"
The provider version should be locked to a specific version for testing. Otherwise, there will be failed tests after each provider release.

![Screenshot 2020-05-03 at 17 37 17](https://user-images.githubusercontent.com/136789/80918347-be77f500-8d64-11ea-84b4-7ec7612a2934.png)

[2020-05-04 18:20] #44 closed, assigned to nobody

[2020-05-05 18:47] #30 closed, assigned to nobody

[2020-05-06 14:35] #20 closed, assigned to skorfmann

[2020-05-06 18:13] #28 closed, assigned to nobody

[2020-05-06 20:26] #32 closed, assigned to skorfmann

[2020-05-07 22:15] #50 closed, assigned to nobody

[2020-05-08 00:13] anubhavmishra opened #57 "Use HashiCorp NPM account to publish the npm packages."
We need to publish cdktf and cdktf-cli packages using the HashiCorp official account. #54 uses @anubhavmishra's personal account to publish the packages.

[2020-05-08 00:36] anubhavmishra opened #58 "Update the current examples to use the new release of NPM packages"
The project examples should use the new versions of the `cdktf` and `cdktf-cli` packages after they are published to the NPM registry. Depends on #57

[2020-05-08 18:53] anubhavmishra opened #60 "Document escape hatch and tokens"

[2020-05-08 19:39] #38 closed, assigned to anubhavmishra

[2020-05-08 22:56] #60 closed, assigned to nobody

[2020-05-08 23:05] #18 closed, assigned to anubhavmishra

[2020-05-09 02:12] anubhavmishra opened #62 "cdktf synth command doesn't set output directory"
I found a bug where if an application is setting the output directory using `new App({ outdir: 'cdk.out' });` it is not being respected by the synth command as it uses the output directory set as the default in [config.ts](https://github.com/hashicorp/terraform-cdk/blob/master/packages/cdktf-cli/lib/config.ts#L16). I am seeing an error:

[code]

[2020-05-09 02:46] anubhavmishra opened #63 "Typescript example defaults for synthesize commands"
The Typescript examples currently have the following as the `app` key in the `cdktf.json` file:

[code]

This means the users have to run two commands to generate Terraform configuration.

First they compile the Typescript application by running

[code]

Then, they run the synthesize command

[code]

I think ideally we should have users just run `cdktf synth` and it should do the Typescript compil

[2020-05-09 02:51] #57 closed, assigned to nobody

[2020-05-09 03:17] #58 closed, assigned to nobody

[2020-05-10 06:00] anubhavmishra opened #64 "Document using Terraform outputs"
We need to document how to use `TerraformOutput` in Typescript.

[2020-05-10 09:58] skorfmann opened #65 "Homebrew Package"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-10 13:19] skorfmann opened #66 "Brittle Workflow for Generated Providers File"
The process of writing the `providers.tf.json` file is a bit brittle.

- The Terraform version constraint is written on `cdktf get`
- The actual provider config is merged on `cdktf synth`

This breaks, when a user removes the synthesize target folder (e.g. `dist`). On the next synth, the provider config is still written, but the version constraints are lost.

On the other hand, when doing another

[2020-05-10 18:40] skorfmann opened #67 "Document CLI"
For generating a help page for the CLI, this might be handy - https://github.com/EliseevNP/cli-docs-generator

[2020-05-11 14:32] joatmon08 opened #69 "Support JavaScript"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-11 18:41] #67 closed, assigned to anubhavmishra

[2020-05-11 18:50] #22 closed, assigned to anubhavmishra

[2020-05-11 19:17] anubhavmishra opened #70 "change the default directory name from "dist" to "cdktf.out""

[2020-05-11 19:33] joatmon08 opened #71 "drop the provider and module arguments in cdktf get"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-11 20:03] anubhavmishra opened #72 "Publish to PyPi"
Publish the Python `cdktf` package to PyPi.

[2020-05-11 21:00] #6 closed, assigned to skorfmann

[2020-05-11 21:22] #72 closed, assigned to nobody

[2020-05-11 22:13] anubhavmishra opened #73 "Python application getting started guide"
Now that #6 is merged we can add a getting started guide for Python applications.

[2020-05-12 01:13] topfunky opened #75 "Case sensitive tags are incorrectly downcased"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-12 13:09] #26 closed, assigned to nobody

[2020-05-12 18:25] #73 closed, assigned to anubhavmishra

[2020-05-12 19:12] #70 closed, assigned to nobody

[2020-05-12 19:53] #62 closed, assigned to nobody

[2020-05-13 13:51] joatmon08 opened #81 "Stack Escape Hatch"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-13 17:06] #66 closed, assigned to skorfmann

[2020-05-13 18:38] #64 closed, assigned to anubhavmishra

[2020-05-13 19:36] skorfmann opened #83 "Terraform Output doesn't handle Optional Types"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-13 19:46] #81 closed, assigned to nobody

[2020-05-13 19:51] #11 closed, assigned to anubhavmishra

[2020-05-14 00:59] anubhavmishra opened #84 "Provider generation doesn't work with v0.0.5"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-14 18:16] #84 closed, assigned to nobody

[2020-05-14 23:54] #71 closed, assigned to nobody

[2020-05-15 00:58] #63 closed, assigned to anubhavmishra

[2020-05-15 00:58] #83 closed, assigned to anubhavmishra

[2020-06-03 18:39] anubhavmishra opened #90 "Support for cdktf diff"
- [x] Implement terraform cli wrapper to run terraform commands
- [x] Implement parsing `terraform plan` JSON output
- [x] Display `cdktf diff` output using `terraform plan`

[2020-06-05 19:26] skorfmann opened #92 "Support cdktf deploy"
- cdktf synth
- terraform init
- get / show the plan similar to `cdktf diff`
- confirm to continue
- display a live updating list of resources during deploy
- show terraform outputs if any.

[2020-06-05 20:05] skorfmann opened #93 "[Typescript] Make static reference to generated Constructs"
We can add the following to the `tsconfig.json` file:

[code]

This will allow

[code]
Since that's a static reference, we can easily move files around without having to update the import statements.

[2020-06-06 08:34] skorfmann opened #94 "Terraform Meta Arguments - Provisioners"
Just stumble upon missing meta data for Terraform Resources: [Provisioners](https://www.terraform.io/docs/provisioners/index.html). They should be supported, in particular useful in regards to `NullResources`.

[2020-06-06 19:29] skorfmann opened #95 "Async / Promises in Constructs"
While building the equivalent of the [EcrAssets](https://github.com/aws/aws-cdk/tree/f44ae607670bccee21dfd390effa7d0e8701efd4/packages/%40aws-cdk/aws-ecr-assets) package for the Terraform CDK, I stumble upon the lack of async / Promises support for generating a hash of the folder content as a trigger for the Docker image build.

A quick search in the AWS CDK repo revealed, that others have tried t

[2020-06-08 23:06] anubhavmishra opened #96 "Terraform Cloud Support"
# Proposal

We would want users to have the option of using Terraform Cloud to store their state and maybe in the future take full advantage of features such as remote plan, applies, cost estimation, etc.

## Getting started experience with Terraform Cloud

Users can initialize a CDK for Terraform application by running the following

[code]

If the user isn't logged into Terraform Cloud (the user

[2020-06-09 09:26] skorfmann opened #98 "Prebuilt Provider Packages"
When thinking about distributing L2 or L3 constructs, we'll need provider packages. Without, it's quite hard to define the dependency on used providers (e.g. Null Provider).

![CleanShot 2020-06-07 at 15 27 38](https://user-images.githubusercontent.com/136789/84129593-75d9e880-aa42-11ea-974f-ccfc4fef18ae.png)

## Current State

In order to do this at the moment by the example of `aws-ecr-asset`:

[2020-06-09 18:59] anubhavmishra opened #100 "Logging library across the project"

[2020-06-13 20:21] anubhavmishra opened #103 "Implement new UI for synth and get"
Since we have the new UI library that was added by https://github.com/hashicorp/terraform-cdk/pull/91. We need to make the `cdktf synth` and `cdktf get` commands consistent with the `cdktf plan` UI output.

[2020-06-13 23:02] anubhavmishra opened #105 "Examples and docs update with new UX"

[2020-06-17 20:18] #103 closed, assigned to anubhavmishra

[2020-06-29 14:11] skorfmann opened #109 "Handle Missing Terraform CLI"
When the Terraform CLI isn't installed:

[code]

Should be handled

[2020-06-29 18:45] anubhavmishra opened #110 "Error handling support"
I wanted to write down a few scenarios that might be common errors that users might see and we should be able to handle them gracefully. We want to be able to show users a helpful error message.

1. Runtime errors when running `cdktf deploy`.

[code]

[code]

2. UI error during `cdktf deploy`.

The spinner seems to be stuck even though the Terraform apply is complete in the background and the outp

[2020-06-29 18:55] #96 closed, assigned to anubhavmishra

[2020-06-29 19:06] anubhavmishra opened #111 "cdktf destroy"
Implement `terraform destroy` using `cdktf destroy`. We need the user to confirm destroying the resources.

[2020-07-01 13:26] #92 closed, assigned to skorfmann

[2020-07-01 13:28] #15 closed, assigned to nobody

[2020-07-01 13:30] #93 closed, assigned to nobody

[2020-07-01 13:31] #100 closed, assigned to skorfmann

[2020-07-01 13:33] skorfmann opened #113 "Prettify module output to match a tree format."
To get a better overview of the resources created as part of a module, this output could follow a tree format.

[2020-07-01 13:51] skorfmann opened #114 "Detailed diff output"
Currently it's possible to get a quick overview of which resources will be change. However, currently there's no way to dive deeper into the the actual changes.

(Daniel's edit)
For the 0.7 release, this will be minimally scoped to display the Terraform Core diff output, in order to show the needed information without requiring a major design effort. In the future, pending user feedback, we expect

[2020-07-01 13:58] skorfmann opened #115 "Handle small terminal sizes with lots of resources to display"
Due to the nature of the text rendering, using the `cdktf` cli for stacks with lots of resources in small terminal windows leads to lots of scrollback and flickering, broken text output.

Essentially, we'll have to adjust the output size dynamically to the terminal size.

A few ideas:

- Define a fixed size for our canvas based on the terminal dimensions, and make sure elements exceeding the size

[2020-07-01 14:02] #10 closed, assigned to nobody

[2020-07-01 14:05] skorfmann opened #116 "Make local state persistent"
Since `cdktf.out` is treated as throwaway folder, we shouldn't store the local state in that folder.

Storing it in the project root directory would be one option. Something like `terraform -state=../cdktf.state`

[2020-07-01 20:03] skorfmann opened #118 "Check Terraform 0.13 Compatibility"
Check if there are any changes to the output of the Terraform CLI.

Also have a look at this, to verify our current approach to provider definition still works https://github.com/hashicorp/terraform/blob/guide-v0.13-beta/draft-upgrade-guide.md

[2020-07-02 08:31] #110 closed, assigned to nobody

[2020-07-02 08:34] #111 closed, assigned to skorfmann

[2020-07-02 10:35] #109 closed, assigned to nobody

[2020-07-02 13:03] skorfmann opened #122 "Synth is Stuck on Error"
when the underlying process errors out, `cdktf synth` looks to be stuck and spinning forvever

[2020-07-02 13:37] #90 closed, assigned to skorfmann

[2020-07-02 14:16] skorfmann opened #124 "List of String Maps"
The `vault` provider `.gen/providers/vault/transit-secret-backend-key.ts:239:40` (`nomad` provider also affected)

[code]

renders invalid to

[code]

[2020-07-02 14:19] skorfmann opened #125 "Node is a reserved name in cdktf / constructs"
In the `consul` provider: `.gen/providers/consul/service.ts:284:14`

[code]

Is invalid, since we defined it in `TerraformElement`.

We could either rename it in our implementation, or rewrite provider attributes to another name.

[2020-07-02 15:09] #122 closed, assigned to nobody

[2020-07-02 18:31] anubhavmishra opened #128 "error while running cdktf destroy"
When running `cdktf destroy` on an already destroyed application you see an error.

[code]

Synthesized Terraform code is as follows:

[code]

The synthesized directory has the following files:

[code]

[2020-07-02 18:46] #128 closed, assigned to skorfmann

[2020-07-02 19:00] skorfmann opened #129 "Set NODE_ENV for CLI"
According to some issues in the ink project, the env variable `NODE_ENV` should be set to `production` when distributing the cli. This will suppress error output from React itself.

We should set this as part of the release somehow, and make it overwritable. So, when the user set `NODE_ENV` to something else, it should be respected.

[2020-07-02 19:28] anubhavmishra opened #130 "Version check for new cdktf cli"
We would ideally want a version check message for users when new cdktf cli version is available.

[2020-07-02 19:38] anubhavmishra opened #131 "First class error support for cdktf"

[2020-07-03 21:16] anubhavmishra opened #133 "Log file is created when using cdktf init"
The `cdktf init` command does want you to create an empty directory. The cdktf cli creates a log file when initiating the project which is the working directory.

[2020-07-04 00:46] #105 closed, assigned to nobody

[2020-07-05 19:58] skorfmann opened #135 "Resource Name Structure in Diff / Deploy / Destroy"
Given the following stack with a construct `EcrAsset` which will create two resources:

[code]

This is the current output:

![Screenshot 2020-07-05 at 21 51 11](https://user-images.githubusercontent.com/136789/86541056-0f919a00-bf0a-11ea-9dde-101113f1f65b.png)

I think in general, rather than `fargatewebservice_W` (which is the stack name), we would probably want to see `dockerAsset` / `buildAndP

[2020-07-06 18:23] #133 closed, assigned to anubhavmishra

[2020-07-06 18:25] anubhavmishra opened #137 "Update help output for templates"
Currently, the help output that is printed after a new project is initialized via the templates doesn't talk about the new first-class commands that cdktf offers.

[code]

[2020-07-07 09:11] skorfmann opened #139 "Init is broken"
It doesn't accept the `template` flag

![Screenshot 2020-07-07 at 11 08 32](https://user-images.githubusercontent.com/136789/86755920-48348f00-c042-11ea-9461-c2d5d32d95b8.png)

When going through the init dialog without providing the `template` flag, it errors out at the end.

![Screenshot 2020-07-07 at 11 10 18](https://user-images.githubusercontent.com/136789/86756373-a1042780-c042-11ea-959d-e5b

[2020-07-07 09:25] skorfmann opened #141 "Test CLI commands Closer to Real User Experience"
The init command was broken due to the input options being colorized via ansi codes, which the user realistically can't provide. The bug wasn't surfaced in the integration tests, since colourizing is automatically disabled in CI envs (see https://github.com/chalk/supports-color)

We need some kind of integration test, which actually resembles the real user experience as close a possible, to preven

[2020-07-07 09:28] skorfmann opened #142 "Speed up Tests"
The entire pipeline takes more than 10 minutes. Let's look into it and see if we can speed up and/or parallelize a few tests

[2020-07-07 09:32] #139 closed, assigned to skorfmann

[2020-07-07 10:14] skorfmann opened #143 "Release Workflow"
Current workflow:

- `@pre` is released from master with whatever version is defined in `package.json`
- With each push on master, GH actions will try to publish. It'll error out when version exists

This sort of works at the moment, but it would be nice to have a more explicit workflow for this. Ideas?

[2020-07-07 17:26] anubhavmishra opened #144 "cdktf init Terraform Cloud workspace creation doesn't work"

[2020-07-07 17:30] #144 closed, assigned to nobody

[2020-07-09 14:05] #116 closed, assigned to nobody

[2020-07-09 14:48] skorfmann opened #147 "Integration Test with Terraform Cloud as State Backend"
To make sure the Terraform Cloud workflow is properly working, it'd be great to have an end2end integration test scenario

[2020-07-09 19:41] anubhavmishra opened #150 "Handle stale stacks in cdktf"
When renaming cdktf projects, as a consequence there are two generated Terraform JSON configuration. One of them is stale. We see an error when running `cdktf diff`

[code]

[2020-07-09 19:45] anubhavmishra opened #151 "Improve cdktf synth performance"
- [ ] Remove unwanted comments from generated TypeScript classes. This can be found in the [provider generator](https://github.com/hashicorp/terraform-cdk/blob/master/packages/cdktf-cli/lib/get/generator/provider-generator.ts#L79).

Related:
- [ ] Prebuilt Provider Packages to Fully Enable L2 / L3 Constructs (#98)
- [ ] Namespaced Module Exports (#13)

[2020-07-09 19:59] anubhavmishra opened #152 "Improve cdktf diff output for changes"
We want to parse the `terraform plan` output for changes and attributes that are forcing the change and display them when running `cdktf diff`.

Related https://github.com/hashicorp/terraform-cdk/issues/114.

[2020-07-10 18:34] #129 closed, assigned to nobody

[2020-07-10 18:34] #141 closed, assigned to nobody

[2020-07-10 19:21] skorfmann opened #153 ""terraform show" errors out when stale plan is present in same directory"
Given the following scenario:

[code]
Assuming the `plan` was just written, and `terraform.tfstate` is stale for some reason. When running `terraform show -json plan` it errors out with `Error: Saved plan is stale`.

My expectation would be: Since an explicit path to the plan file is specified, the stale state should be ignored (not even be parsed).

It's probably rather an edge case, since users

[2020-07-13 20:49] anubhavmishra opened #154 "incorrect application name for CDK for Terraform applications"
Currently, when you define an application name in any CDK for Terraform application. For example:

[code]

The application name is changed to `helloterraform` instead which isn't expected by the user.

[2020-07-13 22:50] topfunky opened #155 "Defaults are opposite of Terraform but should default to being non-destructive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-14 12:08] skorfmann opened #157 "cdktf init is broken"
![Screenshot 2020-07-14 at 14 08 03](https://user-images.githubusercontent.com/136789/87424010-89e1ae80-c5db-11ea-9823-fc1db871748e.png)

While the `package.json` looks ok after init, `node_modules` doesn't contain the dev dependencies.

[2020-07-14 13:59] skorfmann opened #160 "Consistent Warning when Provider Constructs were not generated"
It'd be good to have a consistent warning for the case where no provider constructs were generated in `.gen`

Example:
![Screenshot 2020-07-14 at 15 58 01](https://user-images.githubusercontent.com/136789/87434588-f57f4800-c5ea-11ea-8b65-b3d94f8afd8e.png)

[2020-07-14 14:03] skorfmann opened #161 "Display Typescript Errors for Synth"
When running `cdktf synth` or any other command that relies on `synth`, the Typescript errors aren't surfaced. A user will have a hard time to understand the problem.

Example:
![Screenshot 2020-07-14 at 16 00 53](https://user-images.githubusercontent.com/136789/87434947-6161b080-c5eb-11ea-99e5-1cc279101272.png)

We should display the raw `tsc` output so that the user can understand what's prevent

[2020-07-14 18:33] #157 closed, assigned to nobody

[2020-07-14 18:33] #155 closed, assigned to nobody

[2020-07-14 18:37] anubhavmishra opened #164 "Documentation"
- [x] State file location for projects
- [x] New file name for the generated code `cdk.tf.json`
  - [ ] Show how to migrate to the new version.
- [x] Work on the usage of Terraform remote state.
- [x] Migrating from local to remote state.

[2020-07-14 18:40] #161 closed, assigned to nobody

[2020-07-14 19:10] #150 closed, assigned to nobody

[2020-07-14 19:10] #154 closed, assigned to nobody

[2020-07-14 19:47] skorfmann opened #166 "Upgrade to Ink v3"
There are v3 pre-release versions of https://github.com/vadimdemedes/ink and an official v3 release seems to be close. There are a few features which will be interesting to us:

- Performance improvements (e.g. static components)
- Easily measurable element dimensions
- Debuggable via Chrome dev tools
- Better handling of `console.log` statements

There's a [migration guide](https://github.com/vad

[2020-07-14 19:47] #135 closed, assigned to nobody

[2020-07-15 01:48] anubhavmishra opened #167 "cdktf deploy errors when using Terraform Cloud remote backend"
When using Terraform Cloud the `cdktf deploy` command fails to save generated plan as it is not supported by the remote backend that has remote plan/apply turned on.

[code]

This is currently not supported by Terraform. See: https://github.com/hashicorp/terraform/issues/22779

[2020-07-15 02:07] anubhavmishra opened #168 "Migrating from local state to remote state doesn't work"
If a user has initialized a new CDK for Terraform project using the `--local` option. If they migrate to the remote state using the stack override option, they will need to do a `terraform init` which will prompt them to copy the local state to the remote state backend. Here is what it looks like.

[code]

This will hang if `terraform init` is triggered via `cdktf diff` or `cdktf deploy` as `terra

[2020-07-15 02:09] #75 closed, assigned to skorfmann

[2020-07-15 13:45] Redeux opened #170 "Kubernetes provider can't create a namespace with a name attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-15 15:32] skorfmann opened #172 "Enable Attribute References for Nested Types"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-15 18:52] #137 closed, assigned to anubhavmishra

[2020-07-15 18:56] #168 closed, assigned to anubhavmishra

[2020-07-15 18:57] #164 closed, assigned to nobody

[2020-07-15 18:57] #130 closed, assigned to skorfmann

[2020-07-15 18:58] skorfmann opened #174 "Test Version Check"
Since we didn't get around testing this properly, this has to be done later https://github.com/hashicorp/terraform-cdk/pull/149

[2020-07-15 19:07] anubhavmishra opened #175 "Example showing Google Cloud provider"

[2020-07-15 19:08] anubhavmishra opened #176 "Example showing Microsoft Azure provider"

[2020-07-15 19:23] skorfmann opened #177 "UI Glitch due to Version Check"
When the version check is performed, it looks like there's a little UI glitch (in the 2nd run of `cdktf get` the version check is omitted)

![Screenshot 2020-07-15 at 21 21 03](https://user-images.githubusercontent.com/136789/87586756-538e5700-c6e1-11ea-89f9-a9b13d997a1c.png)

[2020-07-15 21:37] #177 closed, assigned to nobody

[2020-07-15 23:38] anubhavmishra opened #182 "cdktf destroy errors saying stale plan"
[code]

[2020-07-15 23:40] #182 closed, assigned to nobody

[2020-07-16 00:10] #147 closed, assigned to nobody

[2020-07-16 13:38] Redeux opened #186 "Misleading default input for cdktf deploy and destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-16 14:17] skorfmann opened #187 "Diff / Deploy / Destroy Columns Should Grow with Content"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-16 14:26] skorfmann opened #188 "Ensure Correct Dependencies between Constructs for Required Attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-16 14:39] skorfmann opened #189 "Moving / Renaming a Project Leads to Symlink Error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-16 17:37] #170 closed

[2020-07-16 18:56] #175 closed

[2020-07-16 19:13] afmsavage opened #194 "Windows Javascript error when running `cdktf init --template="python"`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-16 23:06] jsteinich commented on #98
This is something I just started investigating with [Terrastack](https://github.com/jsteinich/terrastack/tree/provider_build). I don't really have much to show, but the idea was to run an action everyday to check for updated provider versions and auto build/publish if any new ones are found.

[2020-07-16 23:10] jsteinich commented on #33
I worked on this a bit for [Terrastack](https://github.com/jsteinich/terrastack/tree/backends). Also included typed backend support

[2020-07-16 23:21] jsteinich opened #195 "Prebuild Verified Module Packages"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-16 23:29] jsteinich opened #196 "Support C#"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-16 23:30] jsteinich opened #197 "Support Java"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-17 01:08] rraziel opened #198 "cdktf init fails at npm install (NODE_ENV is not recognized)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-17 01:10] rraziel commented on #198
Note: manually doing `npm i cdktf@^0.0.11 constructs@^3.0.0` works fine though (should probably be a --save-dev too?)

[2020-07-17 06:16] skorfmann opened #200 "Testing external Pull Requests"
Looks like external PRs don’t have access to secrets in github actions (which makes sense). I’m wondering what alternatives we have.

[2020-07-17 10:12] Satak commented on #198
Same problem here

[2020-07-17 10:53] skorfmann opened #201 "Run builds for Windows as Well"
Since windows behaves slightly different, tests should be run for windows as well.

[2020-07-17 11:17] Satak commented on #198
This line I guess: https://github.com/hashicorp/terraform-cdk/blob/8757404fa25b6e405f1a51eac11b96943ccb372e/packages/cdktf-cli/templates/typescript/.hooks.sscaff.js#L30

[2020-07-17 11:17] skorfmann commented on #198
Thanks for reporting the bug. I'll check how to fix this for windows.

Generally, #200 should be implemented to prevent similar platform dependent issues.

[2020-07-17 11:19] skorfmann commented on #198
Yes 👍 do you know how to achieve the same desired behavior on windows?

[2020-07-17 11:26] Satak commented on #198
Maybe best would be to use https://www.npmjs.com/package/cross-env
and ` execSync(`cross-env NODE_ENV=development npm install ${devDep} ${deps.join(' ')}`, { stdio: 'inherit' }); `

[2020-07-17 11:29] Satak commented on #198
Next problem is yarn, which I don't have:

[code]

[2020-07-17 11:32] skorfmann commented on #198
No, yarn isn't mandatory for normal usage.

It's only required for contributions to this repo, since we are using yarn workspaces

[2020-07-17 11:48] rraziel commented on #198
I'm a bit surprised the `NODE_ENV=development` is even there, that would be some kind of workaround for environments where someone would have set `NODE_ENV=production` I think?
Since the default is development, shouldn't this code simply do an `npm install`?

[2020-07-17 13:02] skorfmann commented on #198
It's set to production, since the cli uses https://github.com/vadimdemedes/ink and that's the recommended setting to suppress internal error messages.

[2020-07-17 13:07] rraziel commented on #198
I'm not sure I'm following, the code that causes the error is executing `NODE_ENV=development npm install`?
Or are you saying `ink` sets it to `production` so you have to set it back to `development` when running `npm install`?

[2020-07-17 20:26] skorfmann opened #203 "Remove Yarn References where it's not necessary"
While `yarn` is required for contributing (due to the monorepo setup with `workspaces`), it's not required for a user of the packages. This should be reflected in the documentation.

This was brought up here https://github.com/hashicorp/terraform-cdk/issues/198#issuecomment-660056055

[2020-07-17 20:49] skorfmann commented on #201
Github actions support windows in general - see https://docs.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners

Not sure what the best way would be to run windows tests. It'd be nice to run the integration tests somehow. Alternatively, we could come up with a dedicated test scenario for windows. Thoughts?

[2020-07-17 21:08] skorfmann commented on #194
Likely the same issue as https://github.com/hashicorp/terraform-cdk/issues/198

[2020-07-17 22:23] skorfmann commented on #198
Could you give `cdktf-cli@next` a shot? (`npm install -g cdktf-cli@next`) It should fix the init issues on Windows

[2020-07-17 22:26] skorfmann commented on #198
We do set it to `production` as `ink` is recommending it. And yes, you're right - for the `npm install` we do want to install dev dependencies. These are omitted when `NODE_ENV=production`.

[2020-07-17 22:26] rraziel commented on #198
Just tested now, it works.

[2020-07-17 22:53] skorfmann opened #206 "Refactor Terraform Cloud Integration Test"
The Terraform Cloud Integration test is causing issues:

- When testing external Pull Requests #200
- When the same integration tests runs more than one in parallel (e.g. during release)

![Screenshot 2020-07-18 at 00 52 00](https://user-images.githubusercontent.com/136789/87836611-ea4d4600-c890-11ea-8508-934cc11ab285.png)

This commit disabled the integration test 56c58c95737e6de9f797502d2863177d

[2020-07-17 23:04] skorfmann commented on #198
Released in [0.0.12](https://github.com/hashicorp/terraform-cdk/releases/tag/v0.0.12)

[2020-07-17 23:04] #198 closed

[2020-07-17 23:05] skorfmann commented on #194
Can you confirm the [0.0.12](https://github.com/hashicorp/terraform-cdk/releases/tag/v0.0.12) is fixing your issue?

[2020-07-17 23:10] skorfmann commented on #98
Yes, that would be totally sufficient for now 👍  I sketched some code already as well. I think at the moment, the primary question is how to do the versioning of these pre-packaged providers. I have some ideas around this, gonna write them up over the weekend.

[2020-07-18 04:05] jsteinich commented on #98
I like trying to somehow include the actual provider version, but I agree that matching exactly is likely to be problematic.
Maybe something like **XAA.YBBB.ZC** where **X** = cdktf major version, **AA** = provider major version, **Y** = cdktf minor version, **BBB** = provider minor version, **Z** = cdktf patch version, **C** = provider patch version. Would need to start at 1 for all cdktf version

[2020-07-18 21:28] skorfmann opened #207 "Generate More Python Examples"
[jsii-rosetta](https://github.com/aws/jsii/tree/master/packages/jsii-rosetta) could be used to generate Python examples from the Typescript examples.

While the [typescript-aws](https://github.com/hashicorp/terraform-cdk/tree/master/examples/typescript-aws) example doesn't compile cleanly ("arrow functions are not supported"), it would be easy to fix that. The [cloudfront](https://github.com/hashi

[2020-07-19 05:12] cmclaughlin opened #208 "Getting started - error generating constructs for TF providers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-19 11:12] eladb commented on #98
I am wondering if it's sufficient to just somehow have the library relay the "provider requirements" to the app & the CLI instead? Publishing a package for each provider feels like an overkill...

[2020-07-19 11:25] eladb opened #209 "Rename `get` to `import` and `.gen` to `imports` to align with cdk8s and AWS CDK"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-19 18:59] blw9u2012 commented on #208
@cmclaughlin I was also running into this issue but I wasn't running Terraform >= v0.12. Updating to Terraform `0.12.28` and rerunning the commands fixed my issue but I also confirmed that I had satisfied all of the prerequisites listed [here](https://github.com/hashicorp/terraform-cdk/blob/master/docs/getting-started/python.md):
[code]

[2020-07-19 19:50] fred-opplane commented on #197
Java is a much better backend language then Javascript.

[2020-07-19 20:06] frezbo commented on #47
Yes, I would also like to see examples around writing Unit Tests. That seems to be missing.

[2020-07-19 21:08] skorfmann opened #210 "Example for Unit Tests"
As @frezbo pointed out in https://github.com/hashicorp/terraform-cdk/issues/47#issuecomment-660700734

It would be good to have an example and perhaps docs for unit testing.

To get started, snapshot tests are likely sufficient. We sort of do this here already https://github.com/hashicorp/terraform-cdk/blob/56c58c95737e6de9f797502d2863177d7a11fbe7/packages/cdktf/test/resource.test.ts Will need a b

[2020-07-19 21:09] skorfmann commented on #208
Which version of Terraform were you running before the upgrade?

[2020-07-19 21:53] cmclaughlin commented on #208
Whoops! I was using an old version of terraform by way of `tfenv`. Thanks for the help!

[2020-07-19 21:53] #208 closed

[2020-07-20 04:22] anthonyvillela opened #212 "Bug fix"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-20 04:37] anthonyvillela opened #213 "Help please"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-20 07:06] jooohn opened #214 "[TypeScript] The `id` attribute is optinal."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-20 08:35] skorfmann commented on #214
Yes, I noticed this as well and that's related to #25 / #26.

There's also #188 which will likely include reworking the accessor logic a bit and most likely will address this as well.

[2020-07-20 08:36] skorfmann commented on #212
Please provide a description

[2020-07-20 08:39] skorfmann commented on #213
Duplicate of #212

[2020-07-20 08:39] #213 closed

[2020-07-20 08:41] jokerbaba commented on #213
Hlo anybody give me commands for making virus for android Plzz

[2020-07-20 08:43] skorfmann opened #216 "Add Terraform Version Check"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-20 09:29] Madko opened #217 "Error when trying to get openstack provider"
Hi,
Can't find any doc about openstack and cdk so I'm using the one for docker and adapting it.
Here is my cdktf.json:
[code]
and here is the error I get while running cdktf get:
[code]

Is that normal ? I only have one new file:
./.terraform/plugins/linux_amd64/terraform-provider-openstack_v1.29.0_x4

Best regards,
Edouard

[2020-07-20 09:39] skorfmann commented on #98
@anubhavmishra  and I talked about this, and came to the conclusion that building a custom dependency management wouldn't be worth the effort. I don't think we'd distribute packages for all providers, but a selection of the most used ones ( for now at least).

## Why I think we should do this

### Distribution of custom Constructs

As mentioned above, it's not possible to build custom constructs w

[2020-07-20 09:46] eladb commented on #98
My gut feeling is that this is going to blow up in complexity very quickly and I would recommend *not* publishing pre-built providers. I think it shouldn't be too hard to define a protocol which allows libraries to communicate which provider versions they need to operate and have the app pick that up. The app wouldn't need to generate the provider code itself, just to configure so it will be downl

[2020-07-20 09:51] skorfmann commented on #217
This is a bug and relates to #124

With debugging output this looks like

[code]

[2020-07-20 09:53] skorfmann opened #218 "Make cdktf get easier to debug"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-20 10:49] skorfmann commented on #98
Where do you see the complexity blowing up, could you elaborate on this a bit?

You mean something along the lines of what we have with `cdktf.json`?

[2020-07-20 13:02] jsteinich commented on #98
I'm not certain that will work on all potential languages. Seems like something that would fail with build time linking.

I agree that `cdktf get` is a bit of an awkward step for getting starting. So is having to use `cdktf.json` for typical use.

Some complexity I see comes down the road when/if there are multiple supported versions of cdktf. There could end being a matrix of packages needed. How

[2020-07-20 13:38] skorfmann opened #219 "Improve Experience of Renaming / Moving Constructs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-20 13:52] skorfmann commented on #98
I would keep this simple and strictly focus on `latest ` for both, the provider schema (e.g. `AWS`) and `cdktf`. Again, I think that's what most people would go for anyway.

[2020-07-20 14:04] skorfmann commented on #98
One scenario which could become a bit complex:

When using multiple providers (e.g. `aws`, `null`, `google`) they have to share the exact same version of `cdktf`.  Essentially, `cdktf` would be a peer dependency and needs to be pinned to the respective major version of it.

But still, when there's a new major release of `ckdtf` all providers have to be bumped. Shouldn't be a huge problem.

[2020-07-20 14:17] eladb commented on #98
Why is this related to build? I might be missing something... All we need is for the correct provider version to be declared inside the terraform config and the resources defined in the library to reference it. A terraform config can have any number of providers defined in it. Even multiple versions of the same provider type.

[2020-07-20 14:44] eladb commented on #98
Versioning, compatibility between apps and libraries, things like that.

No, I think something like construct metadata associated with the resource that is read by the CLI/app and used to synthesize the provider clauses.

[2020-07-20 14:58] eladb commented on #98
Basically every resource should have a construct metadata associated with it which indicates which provider+version it requires and then during synthesis, the App can reflect on this metadata and create the right associations.

[2020-07-20 15:21] pmartindev opened #220 "Built-in Function Compatibility"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-20 16:33] jsteinich commented on #98
There are two main pieces of using a provider:

1. What gets included in the generated Terraform JSON
2. The actual code (TS/python/etc) for the resources/data sources/etc that the provider includes

The first part is easily solved with construct metadata / user provided values.

The second part is where things get trickier. Currently the user is required to put in a file what versions they want t

[2020-07-20 18:30] ahmagdy opened #221 "Azure support"
Hi
I noticed that all the examples are about AWS. So, I'm wondering if Azure is supported? and if so how to get started?

[2020-07-20 18:31] anubhavmishra commented on #221
@ahmagdy thanks for your question! We have an azure example shown [here](https://github.com/hashicorp/terraform-cdk/tree/master/examples/typescript-azure). Hopefully that helps!

[2020-07-20 18:33] ahmagdy commented on #221
@anubhavmishra Thanks for your answer.
That's what i wanted :) .

[2020-07-20 18:33] #221 closed

[2020-07-20 21:26] Satak opened #222 "Windows: cdktf deploy - symlink not permitted"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-20 21:51] skorfmann commented on #222
Thanks for your bug report.

The symlink is for the `.terraform` directory and it's purpose is to avoid re-downloading the Terraform providers. Besides from making these providers survive a removal of the `cdktf.out` directory, another intent was caching between `cdktf get` runs. I think `cdktf get` runs in a temp directory now and doesn't benefit from this anymore.

Alternatively, we should think

[2020-07-20 23:09] pmartindev opened #223 ""Incorrect attribute value type""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-21 16:21] straubt1 opened #225 "[Feature] Add Support for HCL Output"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-21 17:33] skorfmann commented on #222
Getting rid of the symlink would also fix this issue https://github.com/hashicorp/terraform-cdk/issues/189

[2020-07-21 17:47] skorfmann commented on #225
That's interesting, do you have a specific use-case in mind?

[2020-07-21 17:55] JayDoubleu commented on #225
Programmatically generating TF files and modules for future edits by users is one of potential use cases.

[2020-07-21 18:15] skorfmann commented on #225
I was thinking about generating modules as a use case as well. Sort of like having a Construct package which would work with `cdktf` and has a compatible module output. For this, JSON should be good though.

When thinking about HCL for actual users to continue to work with, I'm wondering if that would make sense for this project. It's very focused on automatically generating JSON configurations wh

[2020-07-21 18:26] skorfmann commented on #223
Thanks for reporting this issue. It's certainly a bug, the question is where. I've read terraform-providers/terraform-provider-aws#8786 and it seems like this is another occasion of #26. However, I doubt there will an upstream fix for this.

It's essentially about providing defaults like this:

[code]

One option of dealign with this could be some kind of generator middleware which applies patches

[2020-07-21 18:31] straubt1 commented on #225
I had similar thoughts to @JayDoubleu here.

json2hcl could be a potential work around, but I really like the idea of native support.

[2020-07-21 18:37] anubhavmishra commented on #225
Hey @straubt1, this is interesting! For now users can use [json2hcl](https://github.com/kvz/json2hcl) to convert Terraform JSON configuration to HCL. You might run something like `cdktf synth --json` or `cat cdktf.out/cdk.tf.json | json2hcl`

[2020-07-21 18:44] JayDoubleu commented on #225
Is json2hcl actually something that's been proven working with HCL2 ?

[2020-07-21 18:52] skorfmann commented on #220
Yes, there's no builtin support for using functions at the moment. In general, there are two ways of dealing with this:

#### 1. Use Escape Hatches

It should be possible to use functions in overrides as described [here](https://github.com/hashicorp/terraform-cdk/blob/master/docs/working-with-cdk-for-terraform/escape-hatch.md). That's at the moment the only way when working with computed attribute

[2020-07-21 19:32] skorfmann commented on #212
Please reopen with description

[2020-07-21 19:32] #212 closed

[2020-07-21 19:58] pmartindev commented on #223
Thank you for the reply @skorfmann . Yes one option would be for providing defaults for particular cases such as that. On a much broader level it may help, for issues such as this, to be able to pass null values in TypeScript and translate those correctly to JSON as that is not possible at the moment.

[2020-07-21 20:14] skorfmann commented on #223
Right, now I see what the issue is about. That's not possible at the moment, due to the way resources are synthesized. Each resource returns all attributes all the time, regardless of what's been set. `null` is then explicitly dropped when merging all constructs together. Even [escape hatches](https://github.com/hashicorp/terraform-cdk/blob/master/docs/working-with-cdk-for-terraform/escape-hatch.m

[2020-07-21 20:31] pmartindev commented on #223
Exactly. After your other post, I was considering escape hatches, but if null values are dropped, then you're correct, that won't work.

I would say this is a pretty big issue, because at the moment, there is no way to create a security group with cdktf.

[2020-07-21 20:42] skorfmann commented on #223
I stand corrected - `undefined` is filtered, `null` is not. I can synth this

[code]

to this

[code]

[2020-07-21 20:56] pmartindev commented on #223
Interesting. I will try it out and see if that works, thanks!

[2020-07-21 21:13] skorfmann commented on #223
Not ideal, but should be an okish workaround for now.

[2020-07-22 01:56] tovbinm commented on #16
Adding local / custom modules (e.g. using Git submodules) would also be great.

[2020-07-22 08:59] skorfmann commented on #124
I was wondering how this should be accessed, so here's an example to build a HCL version of this:

[code]

[code]

[2020-07-22 09:49] skorfmann opened #227 "Output command"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-22 10:42] skorfmann opened #228 "Terraform Commands fail when no provider version is specified"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-22 10:52] skorfmann commented on #225
There's the idea of supporting a workflow which is fully backed by the Terraform Cloud, so that you wouldn't need the Terraform CLI locally at all. Technically, that's still a similar concept to what we have right now, though.

[2020-07-22 14:21] skorfmann opened #231 "Transform Modules to Constructs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-22 14:25] skorfmann opened #232 "HCL to CDKTF Tool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-22 14:49] pmartindev commented on #223
Well it worked for the time being, but I would definitely say it's not a maintainable work around... This is what a typical SG for an ECS task would look like.

https://gist.github.com/pmartindev/ad4e952ab039ba6e3c65bd62ce6cfdc7

[2020-07-22 15:04] skorfmann commented on #223
Absolutely agree.

I read up on HCL2 and [null](https://www.terraform.io/docs/configuration/expressions.html#types-and-values) is technically something we should support. However, not sure what the impact is and if it's applicable to all attributes. There's a bit more research required. Plus, this wouldn't get us the right defaults either.

As mentioned earlier, we could think about providing a me

[2020-07-22 15:08] skorfmann opened #233 "Support HCL null"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-22 15:23] skorfmann opened #234 "Inject Defaults during Code Generation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-22 15:49] JayDoubleu commented on #232
+1 for python

[2020-07-22 16:07] JayDoubleu commented on #225
If I could run local terraform cli via some sort of API then IMHO it would be useful in CI like Azure DevOps etc. If I could print out to screen using terraform cli default interface but run commands programmatically behind the scenes...

I like terraform cli and HCl from user perspective, it's just a bit pain to orchestrate so I started looking into things like pulumi.

If I could programmaticall

[2020-07-22 16:45] anubhavmishra commented on #176
Added as part of https://github.com/hashicorp/terraform-cdk/pull/202.

[2020-07-22 16:45] #176 closed

[2020-07-22 18:35] #125 closed

[2020-07-22 18:48] anubhavmishra commented on #118
Look into the official registry namespace and rewrite to `.gen/{PROVIDER_NAME}`. Essentially, we want to trim the registry specific string and make it conform to what we use in the project today. Custom providers will be generated with the long-form path of provider.

[2020-07-22 20:30] skorfmann commented on #225
If you're just after Terraform orchestration, have you looked at [Terragrunt](https://github.com/gruntwork-io/terragrunt)? For `cdktf`, there will likely be support for multiple stacks as well (see #35).

This sounds like a one-off code generator, since I wouldn't know how you'd reconcile changes made by the user with the generated configuration. Are you after a generator similar to [create-react-

[2020-07-22 21:02] #124 closed

[2020-07-22 21:43] JayDoubleu commented on #225
The ability to produce HCL has many use cases, the human readable template generation is just one of them and yes it would look similar to react app generator you mentioned but I'm hoping cdktf is just the right tool for that already . What would make it even better is the ability to spit out HCL. ;)

Regarding the api itself and terragrunt, I'm aware of terragrunt however it's just a wrapper arou

[2020-07-23 06:46] exocom opened #235 "Keys of user supplied input objects should keep character casing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-23 08:06] skorfmann commented on #225
That's pretty interesting! Could you create a separate issue for this?

Cool, thanks - I think I understood the use-case you were mentioning. The one-off generator use-case could also be dedicated issue and reference this issue here.

[2020-07-23 08:20] skorfmann commented on #235
Thanks for raising this issue. We had a similar thing with #136, where we took a shortcut and did a `tags` specific quick fix. But this is actually quite a big issue, which we'll have to address now.

The problem is, that we perform `keysToSnakeCase` during `synth` on all attributes. This issue here affects all user provided dictionaries (`tags` is the majority, but there are hundreds of other occ

[2020-07-23 09:46] skorfmann commented on #235
Looked into this, here's a quick summary:

Identifying these cases just by type information won't be working at runtime as it seems. I think we'll need an explicit mapping which we generate alongside the classes.

There are two general directions for this:

### 1. JSON Schema

Perhaps a JSON schema could be generated which is used as guardrail during synth.

### 2. Customized Mapping

The AWS CDK

[2020-07-23 10:50] JayDoubleu opened #236 "Add YAML support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-23 10:57] skorfmann commented on #235
@exocom FYI: You can workaround this with [escape hatches](https://github.com/hashicorp/terraform-cdk/blob/master/docs/working-with-cdk-for-terraform/escape-hatch.md) for now.

This would look like this:

[code]

and synthesizes to this:

[code]

[2020-07-23 11:03] JayDoubleu opened #237 "API to interact with terraform cli"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-23 13:56] exocom commented on #235
@skorfmann Nice workaround. I'm back on track thank you!

[2020-07-23 15:49] XBeg9 commented on #98
I agree with @skorfmann, `cdktf` should eject `.gen` outside of individual projects, first of all you will require the community to commit those files, or this will become a bottleneck in dependency management across team members.

[2020-07-23 15:52] musha68k commented on #197
+100 This would in theory also unlock all the other much more mature languages in the JVM ecosystem - Scala, Clojure, etc ...

[2020-07-23 18:35] skorfmann commented on #236
Is YAML supported as input for Terraform?? Besides, what would be the use-case for you?

[2020-07-23 18:59] skorfmann commented on #237
The general idea of this is quite appealing to me.

However, At the moment, the `cdktf cli` is almost independent from a synthesized Stack. Means, it's really just interfacing with the Terraform CLI and interacting with the generated `plan` and the `stdout` / `stderr` output from it.

In the `cdktf cli`, we do have the `plan` at hand , `synth` isn't available as it's just doing a `terraform apply`

[2020-07-23 19:36] XBeg9 commented on #98
Due to this:
[code]

I tried to brainstorm around how we can keep Terraform provider (go package) to be consistent with the npm package, but let users use their own version of `cdktf` to generate provider.

- use @cdktf/provider-azure@exact_version
- put `cdktf` as peerDependency
- add `postinstall` npm hook, whenever this package installs, we will get .gen files. (we have the same for python) htt

[2020-07-23 20:26] XBeg9 commented on #98
You can test it here: https://github.com/XBeg9/cdktf-provider-docker, `@skitsko/cdktf-provider-docker@latest` and you will get compiled with your `cdktf-cli` version.

[2020-07-24 01:31] jsteinich opened #239 "Create additional communication channels"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-24 02:02] jsteinich commented on #188
One option might be to have the getters always return the Token reference and only use real values in `toTerraform`. There is already ambiguity in what gets returned, so users won't be able to consistently take action based on real values anyways.

[2020-07-24 02:06] jsteinich commented on #201
Looks like the Windows runners have Docker, so an integration testing using the docker example might be a start.
Longer term it would probably be good have more thorough testing of the cli.

[2020-07-24 08:02] sam-goodwin commented on #219
For the git algorithm, what would you be comparing to?

[2020-07-24 08:06] skorfmann commented on #219
I think a plan file contains all the information which is required, so there shouldn't be a need to pull the entire state from remote backends.

[2020-07-24 09:11] skorfmann commented on #201
In the existing integration we've just a `null` resource deployment. That's good enough for the cli integration for now.

What I meant: I haven't touched in Windows in ages and will have to read up on how to basic things like installing node, npm. But perhaps the Github runner supports this already, don't know.

[2020-07-24 09:12] skorfmann commented on #201
These are the integration tests I was talking about: https://github.com/hashicorp/terraform-cdk/tree/master/test - We could try to add a dedicated windows integration build based on this https://github.com/hashicorp/terraform-cdk/tree/master/test/test-typescript-deploy

[2020-07-24 09:17] skorfmann commented on #188
Yes, I agree. The current idea how to solve this is exactly this.

- Return tokens for all attribute readers regardless of it being `optional`, `computed` or `required`
- Use the attribute readers which contain the actual value `_abc` in `toTerraform`

What I'm not sure about is, if the currently private value attribute readers (`_abc`) should become public then.

[2020-07-24 12:40] jsteinich commented on #33
I started some early work on this: https://github.com/hashicorp/terraform-cdk/pull/241

[2020-07-24 12:50] jsteinich commented on #188
I think having them public would just cause more confusion since they would only have value when manually set.

It would be cool if accessing any value and running logic / functions in the code directly on it was supported, but that seems fundamentally different than synthesizing to Terraform.

[2020-07-24 12:58] jsteinich commented on #201
There's a pretty extensive list of things installed: https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md

I'm on Windows most of the time so I can do some local testing.

Do you have a preference between platform specific scripts vs writing something in JS/TS/Python that would be cross platform?

[2020-07-24 16:20] abhishekamralkar opened #243 "Improve Python template to add packages into pipenv file"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-24 17:22] XBeg9 commented on #98
@skorfmann if you are fine with my approach, I can finish the full flow and create a PR.

[2020-07-24 18:10] jsteinich commented on #98
@XBeg9 I don't think that approach will work well for other languages since not all package managers have that type of hook.

[2020-07-24 18:15] XBeg9 commented on #98
@jsteinich you are right, I've checked only `Python` and `Typescript`, which is currently officially supported. I don't know if there are any other plans to enable other languages.

[2020-07-24 18:47] stefanfreitag commented on #210
Not only some input on writing unit tests would be appreciated, but also some guidance on setting up CI jobs for test execution.

Starting from a fresh typescript project I added jest and a snapshot test. Testing locally is not an issue at all. It took me a bit to get the test executed on an external CI tool (CircleCI). But I am not sure if there are better approaches compared to the one I current

[2020-07-24 19:08] skorfmann commented on #206
- Create unique workspace per test
- Clean up when done

[2020-07-24 20:04] skorfmann commented on #210
You could use the ` hashicorp/jsii-terraform` [docker image](https://github.com/hashicorp/terraform-cdk/blob/master/Dockerfile) which contains all default dependencies (Terraform, node, python, c# and java). The `cdktf-cli` would still have to be installed.

Have also a look at the [Github build workflow](https://github.com/hashicorp/terraform-cdk/blob/master/.github/workflows/build.yml) as well.

[2020-07-24 20:25] skorfmann commented on #98
@XBeg9 thanks for your suggestion, I'd love if we'd could do this. Unfortunately, I see the same issue as @jsteinich. The goal is supporting all languages which are provided by [jsii](https://github.com/aws/jsii) (Python, Java, C# would be possible today and likely Go at some point).

Besides from that, I don't think that `postInstall` for a fixed version would cut it in this case. You'd essential

[2020-07-25 00:12] afmsavage commented on #194
Nope, still same issue.  I am wondering if this has something to do with the fact that my nodejs is installed via scoop and not in default locations?  Here is the output of the command.

Another thing to note is that this error is occuring on a completely different one than what I used to first report the issue.

During the bootstrap process, I answered 'no' to having the state stored in TFcloud a

[2020-07-25 02:50] XBeg9 commented on #98
@skorfmann zero :) yea, I thought to not do fixed version, but anyway... I think we've agreed, that my approach could cause some side effects, and especially we don't want to lock us to specific `postInstall` hook, specifically to other languages.

I was not sure why you are taking each provider into isolated "monorepo", probably I need to understand the metadata and construct pieces. Can you expa

[2020-07-25 09:01] stefanfreitag commented on #239
Offering communication channels is really a good idea! In the last days I already approached @skorfmann via Twitter to ask one or two questions, but this seems not the way forward.
Gitter or Slack are both good candidates - Gitter would help me a bit more as I use it also for the AWS CDK (awslabs/aws-cdk).

Maybe it make also sense to encourage creating questions on StackOverflow using a certain t

[2020-07-25 12:37] andreialecu opened #244 "Compatibility with aws-cdk"
I have been looking into cdktf and from what I understand it should allow configuring other resources besides AWS ones. We're using `aws-cdk` currently, but it would be nice to be able to integrate MongoDB Atlas management, as an example, into our stack as well.

What I don't understand exactly is if it's supposed to be compatible with aws-cdk. Can I just move my current `aws-cdk` based stack to `

[2020-07-25 13:07] JayDoubleu commented on #236
Terraform itself is ignoring the `.tf.yml` files however there are some tricks within terraform to convert from JSON format into YAML for better human readability , and then back to `.tf.json`

[code]

[code]

## Essentially for me this would have mainly two use cases:
- Let users to just edit the YAML with their settings and then use it programatically
- YAML is very effective for locals as I can

[2020-07-25 13:19] skorfmann commented on #244
At the moment, these would be two separate stacks, one with AWS CDK and one with `cdktf` for Atlas.

What you could do in theory, is synthesizing the AWS CDK stack as a cloudformation resource in `cdktf` somehow. However, I think you'd loose lots of benefits which the AWS CDK has to offer around deployment handling (e.g. assets, pipelines, diffs, security features, ...).

I think the other way aro

[2020-07-25 13:27] skorfmann commented on #236
I still don' understand one thing: Why wouldn't you have the user using `cdktf` directly, since this would support all your use-cases as far as I understood them correctly.

- Easily configurable user input (could be anything, just pick a library for the format you'd want to support json, yaml, toml, ...)
- synth your stack
- deploy the synthesized stack automatically

Am I missing something?

---

[2020-07-25 13:37] JayDoubleu commented on #236
So in terms of use case one where there is .tf.json generated by synth I guess I can just convert that to Yaml and back.

Locals on the other hand seem to follow specific schema and I was wondering if I could either generate those and dump to YAML in a way that terraform locals would understand.

[2020-07-25 15:16] skorfmann commented on #98
I think if you had a monorepo which contains all providers, it would be pretty hard to keep track of what's going on. For the custom constructs, I'm not sure if this would be really a thing, certainly not in the beginning.

So, it'd probably be a dedicated repo per provider.

I had two occasions in a two year long project where we were heavily using Terraform. One was related to some sort of bug i

[2020-07-25 17:35] philhorrocks opened #245 "list stack option (example: cdktf list)"
A list option to replicate the list functionality of the standard cdk package, if possible.

example:

cdktf list

[2020-07-25 19:41] skorfmann commented on #245
Yes, this will likely come with #35 👍

[2020-07-25 19:53] skorfmann opened #246 "[ctrl] + [c] should work during Terraform Cloud init"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-25 21:04] skorfmann opened #247 "Forceable Static Name for Outputs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-25 21:04] skorfmann commented on #247
Or perhaps just use the construct id?

[code]

=> `arn`

[2020-07-26 00:27] jsteinich commented on #247
I think the construct id would work well.

[2020-07-26 00:33] jsteinich opened #248 "Force stack to use construct ids for names."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-26 13:06] skorfmann opened #249 "Add support for Terraform Variables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-26 14:10] skorfmann opened #250 "Terraform Actions should run non interactive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-26 15:15] skorfmann opened #251 "Add option to omit stack trace metadata"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-26 15:15] raj-saxena commented on #197
I would love to contribute support for Kotlin if I can get some guidance on how to approach this.

I can try to guess my way around from the referenced PR but that might not be the most productive way forward. @anubhavmishra does the team already have some docs on how to get started?

[2020-07-26 15:29] skorfmann commented on #197
Since we're using [jsii](https://github.com/aws/jsii) this [issue](https://github.com/aws/jsii/issues/1541) would be a good starting point.

When starting to work on Java, we'll switch to [jsii-srcmak](https://github.com/aws/jsii-srcmak) for the CLI code generator / harvester. Other than that, it's mostly setting up the `cdktf` package [jsii config](https://github.com/hashicorp/terraform-cdk/blob/

[2020-07-27 14:26] skorfmann commented on #33
This will be fully available with https://github.com/hashicorp/terraform-cdk/pull/241

[2020-07-27 14:26] #33 closed

[2020-07-27 14:29] skorfmann commented on #16
This will be relatively easy when we have #232

You mean local, as in not available on Github / Gitlab / etc?

[2020-07-27 14:44] skorfmann commented on #201
That looks sufficient, yes 👍

That would be great, wanna take a stab at it?

In the best case this would be delegated to JS. I messed this up already once :) see #205

[2020-07-27 14:47] skorfmann commented on #194
Hm, which node version are you using?

[2020-07-27 15:02] skorfmann commented on #236
Here's [an example](https://github.com/skorfmann/cdktf-hybrid-module/blob/5a167093e43c97412d07de3fd656b2616463d22d/packages/cdktf-hybrid-module/lib/module.ts#L25-L34) how to deal with native variable inputs (to generate a [native Terraform module](https://dev.to/skorfmann/a-terraform-cdk-construct-which-doubles-as-native-terraform-module-447k) in this case).

Terraform `locals` would likely follow

[2020-07-27 17:11] tovbinm commented on #16
Yeah, unpublished, say from an internal repo or a subfolder.

[2020-07-27 18:21] skorfmann commented on #16
That makes sense, yes. I think that's not much different from a git remote. If one works, the other one will be easy to do as well.

[2020-07-27 18:36] skorfmann commented on #166
Ink 3 was just released https://vadimdemedes.com/posts/ink-3

[2020-07-27 18:38] anubhavmishra commented on #239
Thanks for creating this issue! All HashiCorp OSS projects use [HashiCorp Discuss](https://discuss.hashicorp.com) for their official channel for communication. CDK for Terraform has a category on discuss too: https://discuss.hashicorp.com/c/terraform-core/cdk-for-terraform/47

Please feel free to ask questions and offer solutions to other community members on HashiCorp Discuss. We like it because

[2020-07-27 18:39] #186 closed

[2020-07-27 18:48] sherryxcheng opened #253 "Provider assume role"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-28 02:44] jsteinich opened #256 "Token asAny / Intrinsic value doesn't work as expected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-28 09:15] skorfmann commented on #118
@anubhavmishra since I'll add a test for this, we'll need #36 somehow to get it merge.

[2020-07-28 15:10] skorfmann commented on #118
All examples except Docker are working for `cdktt get`. Will look into what's the reason for this:

[code]

[code]

[2020-07-28 15:24] skorfmann commented on #118
docker doesn't work:

[code]

aws works:

[code]

[2020-07-28 15:32] skorfmann commented on #118
Perhaps related to the Docker provider not being present in the registry? @anubhavmishra

![Screenshot 2020-07-28 at 17 30 33](https://user-images.githubusercontent.com/136789/88687204-46696300-d0f8-11ea-8980-5b80b704c58e.png)

[2020-07-28 16:10] writeameer commented on #35
Hi there ,

Does creating multiple stacks work ? Or is this the planning for this feature ?

I have 2 stacks:

[code]

It only seems to create the second stack.

thanks for any help.

[2020-07-28 18:41] skorfmann commented on #256
`creation_stack` shouldn't be synthesized at all.

[2020-07-28 18:45] skorfmann commented on #35
That's a feature yet to be implemented. At the moment, the stack file name is static (`cdk.tf.json`) and therefore overwritten on each synth. This means, the first stack will be overwritten by second one.

@writeameer What's your goal with 2 stacks?

[2020-07-28 20:23] skorfmann commented on #118
Ok, as described [here](https://github.com/hashicorp/terraform/blob/guide-v0.13-beta/draft-upgrade-guide.md#explicit-provider-source-locations)

[code]

The docker provider is not maintained in the registry and therefore fails.

So, we probably really should make the full reference mandatory in `cdktf.json`:

[code]
For hashicorp maintained providers, this would work as well:

[code]
For the actua

[2020-07-28 21:07] skorfmann commented on #253
Thanks for opening the issue. I just tried it, and this should work in Python:

[code]
`assume_role` takes a list of `AwsProviderAssumeRole` instances, which is due to the way the Terraform provider schema describes this type. Here's an excerpt from the generated Python code:

[code]
I think there's potential to improve this, since `assume_role` will always take only one item. There are many simil

[2020-07-28 21:32] skorfmann opened #258 "Improve UX For List Block Types with Max 1 Element"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-28 23:38] anubhavmishra opened #260 "Update cdktf init template for typescript to use the remote backend class"
Currently, when initializing a new CDK for Terraform project, the `stack.addOverride` block is added to support Terraform Cloud remote state settings. Here is a TypeScript example:

[code]

CDK for Terraform now supports typed backends (thanks to https://github.com/hashicorp/terraform-cdk/pull/224). We can now update the init templates to support the typed backend as follows:

[code]

[2020-07-29 00:36] writeameer commented on #35
Hi there @skorfmann ,

Thanks for responding. We use Terraform quite extensively in production. Changes in state, a buggy provider or buggy code can often cause Terraform to drop and recreate a resource.

In production, we've broken our deployment up into smaller ones with their own state file to limit the blast radius. In the event an error (failure scenario),  we have mitigations in place so the

[2020-07-29 01:41] guan840912 opened #261 "Azure AppService Site config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-29 09:41] vmarchaud commented on #249
I'm not sure i understand correctly, but does this issue means that we can't use terraform variable right now using CDK ?

[2020-07-29 09:47] skorfmann commented on #249
There's no explicit construct to support variables at the moment. Variables still can be supported via [escape hatches](https://cdk.tf/escape-hatch). See [this](https://dev.to/skorfmann/a-terraform-cdk-construct-which-doubles-as-native-terraform-module-447k/#input-variables) for a full example.

Here an excerpt:

[code]

[2020-07-29 09:56] vmarchaud commented on #249
@skorfmann Thanks for the quick answer, i believe adding this into the readme would be helpful to people  looking to migrate to CDK :)

[2020-07-29 09:59] skorfmann commented on #249
No, worries. Adding this to the docs would make sense, yes 👍

Out of curiosity, could you elaborate on your use-case for variables?

[2020-07-29 10:04] vmarchaud commented on #249
Sure, here is some options (in TS) on the infrastructure i'm trying to migrate:
[code]

There obviously some default that i'm setting in the code directly, but i like to be able to override them on the UI (and allows for non-ops to edit them too). For some variables which are secret like `gcp_credentials` or `sva_dns` they are all set inside TF Cloud as "secret"

[2020-07-29 10:13] skorfmann commented on #249
Thanks, that's quite interesting. I had primarily modules as a use-case for this in mind. Terraform Cloud looks certainly like another very compelling use-case for this /cc @anubhavmishra

@vmarchaud how do you approach the CDK in Terraform Cloud? Commit the synthesized JSON and use this a basis for the Terraform Cloud?

[2020-07-29 10:17] vmarchaud commented on #249
Well after seeing your examples to use the variables, i believe making a module would be the easiest way to use them.

Well that's a unknown for me, from what i read i can use the `RemoteState` and the `local` apply, it should be able to read the variables on Terraform Cloud and apply them locally ?

[2020-07-29 12:54] jsteinich commented on #249
Personally I'm still split between converting variables to code/configuration files and keeping them around. We are using Terraform Atlantis, so I could add in a step to CDK synth, but that requires adding in the build dependencies.

Having variable support would be a nice stepping stone to convert existing infrastructure though.

[2020-07-29 12:55] skorfmann commented on #249
Yes, please be also aware that this project is still considered alpha with frequent (breaking) changes.

I guess so, haven't used Terraform Cloud that much yet. The remote state is being worked on at the moment - see #241.

I thought you had Terraform Cloud hooked up to Github somehow, and it'd execute a deploy on your behalf.

[2020-07-29 13:28] skorfmann commented on #249
Not sure if I understand this correctly. If you wouldn't add a build step for the CDK, how would you ship it via Atlantis then?

[2020-07-29 14:22] jsteinich commented on #249
Just a question of whether Atlantis executes the step or something else does beforehand and passes along the synthesized JSON.

[2020-07-29 14:27] writeameer commented on #35
Hi there @skorfmann ,

Thats correct - `dedicated folder per stack` would work well for us. At this stage,  given the maturity of the team, we went with a simpler bespoke solution using bash for driving the orchestration.

[2020-07-29 16:09] sherryxcheng commented on #253
@skorfmann Thank you for looking at the issue report.

Have you tried `terraform init`? The python code was able to compile into Terraform code as JSON. However, with unrecognized attributes 'sessionName' and 'roleArn', which need to be 'session_name' and 'role_arn' according to https://registry.terraform.io/providers/hashicorp/aws/latest/docs. What you think?

[2020-07-29 18:31] tiagob opened #263 "Yarn workspaces TS compile error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-29 19:20] tiagob opened #264 "Move "app" config from "cdktf.json" to "package.json""
I have cdktf setup in a yarn workspaces monorepo. I want my build settings to match across packages. I think cdktf could support this by looking at `package.json` `"main"`

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers priori

[2020-07-29 20:00] skorfmann commented on #253
[code]

That's due to using `addOverride` here. That's an [escape hatch](https://cdk.tf/escape-hatch), which intentionally is passing down to the synthesized Terraform JSON whatever you provide there. When you use the `AwsProviderAssumeRole` class to provide the data here, it'll be camel-cased since that's the way it's stored internally.

When you look at the example I posted, it doesn't make use

[2020-07-29 20:15] skorfmann commented on #261
Thanks for the bug report @guan840912 - I can confirm that's a bug, which will be tackled in https://github.com/hashicorp/terraform-cdk/issues/235 soon. Meanwhile, you can workaround this in similar fashion as described here https://github.com/hashicorp/terraform-cdk/issues/235#issuecomment-662942782

Can you confirm the workaround works for you?

[2020-07-29 20:18] skorfmann commented on #263
Hey @tiagob, thanks for taking the time to report this issue.

Is your suggestion to add this config to the Typescript [template](https://github.com/hashicorp/terraform-cdk/blob/d785af4bf2dad8f1a30b34b8e751ece967c7680d/packages/cdktf-cli/templates/typescript/tsconfig.json)?

[2020-07-29 20:25] skorfmann commented on #264
Thanks for the bug report @tiagob. I'm not sure if this is an actual bug or more like a feature request to move the config from `cdktf.json` to `package.json`.

Wouldn't this `cdktf.json` config work in your case?

[code]

[2020-07-29 20:42] anubhavmishra commented on #118
@skorfmann I like that proposal. I think the providers are still in flux but I think they will all be moved over to the registry.

[2020-07-29 20:56] tiagob commented on #263
Yes!

[2020-07-29 21:03] cmclaughlin opened #265 "Build watching for changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-29 21:11] tiagob commented on #264
@skorfmann that works! Thank you.

Yes, moving this from cdktf.json to package.json would be clearer

[2020-07-29 21:21] skorfmann commented on #263
Ok, thanks for confirming.

I read up on `skipLibCheck` [a bit](https://stackoverflow.com/questions/52311779/usage-of-the-typescript-compiler-argument-skiplibcheck), and I'm not sure it makes sense to enable this by default.

According to [the docs](https://www.typescriptlang.org/docs/handbook/compiler-options.html), it'd disable all checks for `*.d.ts` files, even if you would have manually creat

[2020-07-29 21:29] sherryxcheng commented on #253
I see. Specify assume_role in the provider directly works for me. Thanks!

[2020-07-29 21:29] #253 closed

[2020-07-30 06:27] #263 closed

[2020-07-30 08:11] skorfmann commented on #264
It's maintained as part of `cdktf.json`, since we support not only Typescript / Node, but also Python. There will be .NET, Java and at some point Go support as well. Hence, I think a special case for Typescript / Node would be more confusing and would make maintaining docs more complex.

[2020-07-30 09:36] skorfmann commented on #265
Thanks for raising this issue @cmclaughlin - I just created #266 to improve the guide and added a `yarn watch` command. Would be great if you could provide feedback on this.

[2020-07-30 09:59] LucaMali opened #267 "cdktf init " 'which' is not recognized as an internal or external command, operable program or batch file.""
When launching the "cdktf init" command to prepare the project folder with python language i get this error "'which' is not recognized as an internal or external command, operable program or batch file. Unable to find "pipenv". Install from https://pipenv.kennethreitz.org"

I'm on Windows 10 and even if pipenv is installed I get the "Unable to find 'pipenv' error"

Terraform version : v0.12.29
Nod

[2020-07-30 10:57] skorfmann commented on #267
Hey @LucaMali - thanks for creating this issue.

This looks like a system specific issue to me. @jsteinich since you have more experience running `cdktf` on windows, do you have an idea what could cause this?

[2020-07-30 12:45] jsteinich commented on #267
I can confirm the issue. It is caused by https://github.com/hashicorp/terraform-cdk/blob/d785af4bf2dad8f1a30b34b8e751ece967c7680d/packages/cdktf-cli/templates/python/.hooks.sscaff.js#L9

I'll try to work on a fix tonight.

[2020-07-30 12:50] LucaMali commented on #267
Ok thank you.
I'm gonna wait for updates.

[2020-07-30 14:17] sonfrau opened #268 "cdktf init pipenv fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-30 19:09] cmclaughlin opened #269 "yarn package requires wheel and twine python packages"
Not sure if this is a `terraform-cdk` issue... or perhaps the problem is in one of the dependancies such as `jsii-pacmak`?

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or o

[2020-07-30 19:15] cmclaughlin commented on #268
For what it's worth, I haven't seen this problem locally.
If you're really anxious to get started, this PR has some expanded instructions for setting up a local environment - maybe that will help: PR #266

(I'm just an end user getting started with this project too)

[2020-07-31 01:01] jsteinich commented on #194
I'm actually getting the exact same error using a build from master. I'll try to troubleshoot further.

[2020-07-31 01:20] jsteinich commented on #194
This [SO issue](https://stackoverflow.com/questions/10396305/npm-package-bin-script-for-windows) explains what I believe is happening, although I believe everything is set correctly.

I was trying to run directly without an npm install to generate the wrapper, so my error was probably a bit different.

[2020-07-31 01:28] jsteinich commented on #194
After working around #268 I am not at the same point and see the issue.

[2020-07-31 09:33] vmarchaud opened #271 "allow to use 3rd party terraform provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-31 13:58] skorfmann opened #272 "Use jsii-srcmak"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-31 15:15] jsteinich commented on #272
Can probably use https://github.com/awslabs/cdk8s/pull/205 to help guide the process.

[2020-07-31 16:55] kstewart83 commented on #35
Would multiple stacks be the right approach in using different profiles with the AwsProvider construct? I need to create different parts of infrastructure with different profiles (as the profiles might be tied to completely different accounts), and it seems like multiple stacks is the first thing that comes to mind. I'm just getting started with the AWS TF CDK and for example I might have somethin

[2020-07-31 18:49] skorfmann commented on #194
Thanks for looking into it @jsteinich

[2020-07-31 19:23] skorfmann commented on #35
While there's no concrete concept for this yet, I'd assume multiple stacks would be the way to tackle this.

Depending on how you handle your state at the moment, and how much you'd be willing to compromise on usability, it's probably possible already.

The main problem is:

- right now the stack is always written to `cdktf.out/cdk.tf.json` and overwrites whatever was synthesized before

However,

[2020-07-31 19:35] skorfmann commented on #271
Would the new [provider requirements](https://github.com/hashicorp/terraform/blob/guide-v0.13-beta/draft-upgrade-guide.md#in-house-providers) of Terraform 0.13 be sufficient?

[2020-07-31 19:36] vmarchaud commented on #271
@skorfmann I think so yeah

[2020-07-31 19:38] skorfmann commented on #271
Cool, that's ongoing (#118) and should be shipped soon. Let's check again once that's released.

[2020-08-01 00:53] guan840912 commented on #261
thanks ~~~

[2020-08-01 08:33] skorfmann commented on #261
Closing as duplicate of #235

[2020-08-01 08:33] #261 closed

[2020-08-01 13:08] guan840912 commented on #261
Sorry ~~ , please reopen this issue @skorfmann .
thanks ~~~ > <
when I upgrade to 0.0.13 , the bug still exist.
<img width="824" alt="截圖 2020-08-01 下午9 06 48" src="https://user-images.githubusercontent.com/46012524/89102347-ed246b00-d43a-11ea-8f40-71f177522ad2.png">

[2020-08-01 13:19] guan840912 opened #274 "Terraform output on GCP CloudRun ."
Community Note
Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do not help prioritize the request
If you are interested in working on this issue or have submitted a pu

[2020-08-01 17:12] jsteinich commented on #35
I haven't tried it yet, but you should also be able to do something like this:
[code]

[2020-08-01 18:42] anubhavmishra commented on #43
This might be needed for metrics for the project.

[2020-08-01 18:46] anubhavmishra commented on #95
@skorfmann can we close this issue?

[2020-08-01 18:48] anubhavmishra commented on #143
I think we ignore the errors right?

[2020-08-01 18:50] anubhavmishra commented on #153
Isn't this fixed as we moved the state file to the root directory of the project?

[2020-08-01 19:01] anubhavmishra commented on #264
As @skorfmann mentioned this won't be possible as the `cdktf.json` file is meant to provide a common way to integrate with different languages that CDK for Terraform supports.

[2020-08-01 19:01] #264 closed

[2020-08-01 19:04] anubhavmishra opened #275 "Document usage of cdktf.json file"
We need to document the usage of `cdktf.json` file to enable users to better understand the usage and modify it as needed by them to support customizations for various languages.

[2020-08-01 19:04] anubhavmishra commented on #264
Created a new [issue](https://github.com/hashicorp/terraform-cdk/issues/275) to document the `cdktf.json` file/

[2020-08-02 19:28] jsteinich commented on #232
Using https://github.com/tmccombs/hcl2json packaged with https://github.com/sanathkr/go-npm might provide an easier path for parsing HCL

[2020-08-02 19:37] jsteinich commented on #16
Would something like `TerraformHclModule` used similar to https://github.com/jsteinich/terrastack/pull/5/files#diff-1526cfd8651d8210fb4a0decf140147aR70 be useful to anyone else while waiting for generation to be supported?

[2020-08-03 02:19] guan840912 commented on #274
"value": "${google_cloud_run_service.gcpcloudrun_GcpCDKCloudrunsvc_3C62B8B8.status.0.url}"

I see also can get url back , thanks close this issue .

[2020-08-03 02:19] #274 closed

[2020-08-03 08:54] benoitmenard-richemont opened #279 "From Terraform to CDK - Unique ID"
Hi,

I worked a bit on the CDK, and I was wondering of how to migrate existing Terraform to CDK.

The CDK generate a unique ID for each resource/module. But this behavior may be good for new infrastructure, but not for existing one. Why this behavior ?

Thanks,

[2020-08-03 14:42] skorfmann commented on #261
@guan840912 sorry for the confusion. This wasn't part of of the `0.0.13` release, but it's going to be worked on soon. I closed it as a duplicate of issue #235 so we don't track the same thing in multiple places. Please subscribe to #235 in order to get notified when this gets merged to master / is released.

[2020-08-03 14:44] skorfmann commented on #35
@jsteinich sure this will work as well, but is probably more applicable to cases where the same stack spans multiple regions (e.g. [this](https://github.com/hashicorp/terraform-cdk/blob/2f0b966cb25b6dc5066ee1551fdb32ff47a9c0fd/examples/typescript/aws-cloudfront-proxy/main.ts#L14-L21))

[2020-08-03 14:45] skorfmann commented on #95
Yeah, I think for now this can be closed.

[2020-08-03 14:45] #95 closed

[2020-08-03 14:46] skorfmann commented on #232
There's some early work going on [here](https://github.com/iann0036/hcl2cdktf)

[2020-08-03 14:49] skorfmann commented on #16
It's also possible to go with [escape hatches](https://cdk.tf/escape-hatch). Not quite as comfortable, but still possible :)

[2020-08-03 18:26] skorfmann commented on #279
Hey @benoitmenard-richemont - thanks, that's a great question!

There's a feature request to handle this particular case #248

A bit of background:

One of the core ideas of the CDK is to have layered abstractions for your resources. What we generate with `cdktf get` is essentially just a mapping layer for the actual Terraform resources - or in CDK terms a Level 1 resource.  A Level 2 resource, wo

[2020-08-03 21:09] skorfmann opened #280 "Dictionary keys should work snake cased"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-04 09:23] skorfmann commented on #280
Similar issue as this one https://github.com/hashicorp/terraform-cdk/issues/253#issuecomment-665882983

There's probably nothing we can do about this right now.

[2020-08-04 09:23] #280 closed

[2020-08-04 09:25] skorfmann commented on #279
Closing as question was answered and the problems discussed are tracked in other issues already.

[2020-08-04 09:25] #279 closed

[2020-08-04 09:25] skorfmann commented on #265
Fixed in https://github.com/hashicorp/terraform-cdk/pull/266

[2020-08-04 09:25] #265 closed

[2020-08-04 09:27] skorfmann commented on #256
`creation_stack` gets synthesized when `Token.asAny` returns an `Intrinsic` value.

[2020-08-04 09:30] skorfmann commented on #251
I've just realised that this is possible already: `const app = new App({stackTraces: false});`

[2020-08-04 09:30] #251 closed

[2020-08-04 09:37] skorfmann opened #281 "Add Terraform Locals"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-04 09:38] skorfmann commented on #236
Tracking locals #281 - Direct YAML support is unlikely, since it's not supported by Terraform itself.

[2020-08-04 09:38] #236 closed

[2020-08-04 09:40] skorfmann commented on #143
Yes, we do.

There's a related issue around Python. There's no pre-release version published at the moment.

[2020-08-04 12:57] miyurusankalpa commented on #251
I think this should set to false by default.

[2020-08-05 05:43] cmclaughlin opened #282 "SecurityGroupIngress self_attribute not converted to self"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-05 09:18] skorfmann commented on #251
Could you explain why?

[2020-08-05 09:19] skorfmann commented on #282
Good point, we need a proper mapping for reserved words here

[2020-08-05 09:29] skorfmann opened #284 "Streamline Workflow with Prebuilt Providers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-05 17:36] chuckyz commented on #233
Could TFCDK simply utilize overloading instead of using nulls?

[2020-08-05 17:38] skorfmann commented on #233
Could you provide an example?

[2020-08-06 13:19] skorfmann opened #286 "Terraform Modules Output Parsing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-06 13:21] skorfmann opened #287 "Module Outputs Typed as String"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-06 13:43] skorfmann opened #288 "Add Computed List Accessor"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-06 15:06] Tirke opened #289 "Multiple stacks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-06 15:45] skorfmann opened #290 "Oracle Provider Generates Invalid Classes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-06 17:06] cmclaughlin commented on #289
I wonder if this duplicates - Handling of Multiple Stacks #35?

The examples there seem to be multiple stacks in one file, but here the example involves multiple files.
Sounds like the current recommendation is "dedicated folder per stack"

[2020-08-06 19:17] sdmain opened #291 "Keys of user supplied objects are snake cased"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-06 19:25] skorfmann commented on #291
@sdmain thanks for opening this bug report. I think that's related to [this issue](https://github.com/hashicorp/terraform-cdk/issues/235), which will be tackled soon. In the meantime, you can use [escape hatches](https://cdk.tf/escape-hatch) as described in one of the [issue comments](https://github.com/hashicorp/terraform-cdk/issues/235#issuecomment-662942782) as well. Hope that'll unblock you.

[2020-08-06 19:30] skorfmann commented on #289
Yes , it looks like it is 👍

That's actually a good point and totally doable. The important part is, that the `cdktf deploy/destroy` command would run in separate folders to separate the stack output file and its state. Could be easily automated in a monorepo setup. Conceptually, that's pretty close how I think it'd be abstracted in the CLI as well.

[2020-08-06 19:31] skorfmann commented on #289
Closing as duplicate

[2020-08-06 19:31] #289 closed

[2020-08-06 19:31] sdmain commented on #291
Thanks Sebastian! I will try that right now and will share the outcome.

One side question - at what point can we propose CDK for Terraform for production usage for our customers?

[2020-08-06 19:39] anubhavmishra commented on #291
@sdmain CDK for Terraform is in alpha as we gather more feedback about the project and the feature set. We will announce a stable version when we are confident that the project is ready for supporting production stacks. Please continue to give us feedback as we go through this process. Thank you for using CDK for Terraform. :)

[2020-08-06 19:52] sdmain commented on #291
@skorfmann I think I am a bit lost here. I have configuration defined for each stage within the pipeline. If I add pipeline.addOverride('configuration'..), I am not sure how that would work.

or I am thinking I should provide those specific configurations in override but 'RepositoryName' and 'BranchName' are supported parameters in Terraform for 'CodeCommit' provider.

[code]

[2020-08-06 20:02] sdmain commented on #291
tried these overrides:

[code]

[2020-08-06 20:05] skorfmann commented on #291
I think this takes an arbitrary object and passes it directly through to the AWS API. The issue is, that we automatically convert all object keys to snake case, and the AWS API doesn't expect it that way. See here the provider docs https://registry.terraform.io/providers/hashicorp/aws/2.70.0/docs/resources/codepipeline#configuration

The override takes a JSON path as well. Something like this coul

[2020-08-06 20:20] sdmain commented on #291
@skorfmann unfortunately this did not work. I am stuck at this error for a few errors now. I made a lot of progress with several other resources, but this specific error with codepipeline is killing me :(

`pipeline.addOverride('stage.0.action.0.configuration', {'RepositoryName':'myappRepoSampleApp', 'BranchName': 'master'});`

[2020-08-06 20:24] skorfmann commented on #291
Let me quickly check

[2020-08-06 20:32] skorfmann commented on #291
Looks like `addOverride` is merging, not completely overwriting. I think that's on purpose, to allow partial overwrites. In this particular case this behaviour is not ideal though. When you remove the `configuration` block in the resource class itself, it should work.

[2020-08-06 20:38] sdmain commented on #291
Thank you! Trying it now

[2020-08-06 20:46] sdmain commented on #291
@skorfmann That worked!!! Thanks a bunch!!! I am unblocked with that error now.

[2020-08-06 20:52] skorfmann commented on #291
Cool, no worries - thanks for confirming. I'll close this issue as duplicate. If there's anything else, don't hesitate to create another issue.

[2020-08-06 20:52] #291 closed

[2020-08-07 08:14] Tirke opened #292 "Escape hatch for filebase64sha256 can't find paths"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-07 09:32] skorfmann commented on #292
In this case, I'd use native JS tooling to get the correct path. Something like:

[code]

However, according to your description doesn't seem to be the issue here. Could you push a repo which demonstrates the issue? That'd make it much easier to debug.

[2020-08-07 09:48] Tirke commented on #292
Yeah, as I said I tried many things, including using raw string paths, using node `path` module, etc with all formats relative / absolute, all actually resolving to an actual file and it doesn't work.
Repro :
https://github.com/Tirke/tf-cdk-escape-path-bug

[2020-08-07 10:01] skorfmann commented on #292
Thanks, I'll have a look later today.

[2020-08-07 12:48] skorfmann commented on #292
This works for me:

[code]

What I'm wondering is, what you're trying to achieve with this line:

[code]

The error suggests, that it's just interpreted as plain string. Then it makes total sense, that it can't be found:

[code]

Could you elaborate on what you're trying to do?

[2020-08-07 14:40] skorfmann opened #293 "ckdtf-cli@next with python is broken"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-07 17:00] Tirke commented on #292
I'm exploring cdk-tf capabilities for an article.

By the way, my example is wrong as I mentally switched `filename` with `sourceCodeHash`, this is why this issue makes no sense and I apologize for that.
I had no particular issue making the filename work without overriding the prop I'm just testing the override feature.
The override does work when using it with the intended prop `source_code_hash`

[2020-08-07 17:00] #292 closed

[2020-08-07 17:12] Tirke opened #294 "State locking and how to handle it"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-07 18:04] skorfmann commented on #292
No worries, glad it works as expected.

I think you're talking about this issue here? https://github.com/hashicorp/terraform-cdk/issues/235 That'll be worked on soonish.

I absolutely agree, there's lots of room for improvement around the UX. We'll iterate on that based on a few ideas we still have in our backlog, but also based on community feedback. After all, community feedback is the main purp

[2020-08-07 18:14] skorfmann commented on #294
We're wrapping the Terraform CLI and parse / filter the output of it. Right now we don't handle this particular use case. However, it's totally possible to fallback to the Terraform CLI itself in such cases.

The long term goal is certainly to provide a good level of abstraction, so that it's not mandatory to know how all the internals are working together. For the near future, it certainly helps

[2020-08-07 19:45] bcline760 opened #295 "Terraform produces missing Azure resource errors on synthesized TypeScript"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-07 19:54] skorfmann commented on #295
Hey @bcline760 - thanks for creating this issue. At a first glance, I'd guess that's due to the missing dependencies between the resources.

[code]
The bug mentioned in the code snippet is this one: #188

[2020-08-07 19:57] bcline760 commented on #295
Ah OK so the work around is to put the "dependsOn"?

[2020-08-07 19:58] skorfmann commented on #295
Yes, that should work.

[2020-08-07 23:54] anubhavmishra commented on #36
I just pushed a new version of the docker image: https://hub.docker.com/r/hashicorp/jsii-terraform

[2020-08-08 00:05] #118 closed

[2020-08-08 18:12] skorfmann commented on #295
Gonna close as duplicated of #188 - Please reopen if the workaround doesn't work.

[2020-08-08 18:12] #295 closed

[2020-08-11 21:11] pmartindev opened #298 "Warning when using a new version of cdktf with older node modules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-11 21:15] skorfmann opened #299 "Google Provider Name Collision"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-11 23:05] anubhavmishra opened #303 "cdktf applications using docker provider don't generate valid Terraform JSON configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-12 04:58] skorfmann commented on #303
[code]

That's for me on master.

![Screenshot 2020-08-12 at 06 56 21](https://user-images.githubusercontent.com/136789/89976588-1d54e080-dc69-11ea-8e4e-4da5c0fe5e80.png)

Could you double check which version is being used?

[2020-08-12 18:06] skorfmann commented on #303
Just tried it in a fresh project, works as well:

[code]

[2020-08-12 18:07] #299 closed

[2020-08-13 08:01] MalloZup opened #304 "DOC: is there any API/DOC for providers maintainer to support terraform-cdk?"
HI all,

I was wondering if we have some guideline/doc and requirements for providers maintainer who want to support terraform-cdk for their provider.

Thank you

[2020-08-13 08:33] Mejato commented on #303
@skorfmann
I managed to reproduce the issue when i upgraded my Terraform version from  0.12.29 to 0.13.0.

My provider is set to docker as below and everything works fine with version 0.12.29

{
  "language": "python",
  "app": "pipenv run ./main.py",
  "terraformProviders": ["docker"],
  "codeMakerOutput": "imports"
}

When i upgrade to version 0.13.0 i get this error.
⠸ downloading and generatin

[2020-08-13 08:37] skorfmann commented on #303
@Mejato There are probably two issues:

- Please make sure to upgrade the `cdktf` package as well. That's not obvious at the moment. I'll create another issue to address this.
- after upgrading and changing the `cdktf.json` configuration, please run `cdktf get` again

[2020-08-13 08:41] Mejato commented on #303
@skorfmann
I forgot to mention it, but my cdktf version is 0.0.14 when above happens.

[2020-08-13 08:41] skorfmann opened #305 "Make sure CLI and Core Package are in sync"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-13 08:42] skorfmann commented on #303
Did you run a `cdktf get` afterwards?

[2020-08-13 08:47] skorfmann commented on #304
The way the provider bindings are generated are relying on the `terraform providers schema -json` command. As long as this works somehow, it should just work for any given provider. Since we're in an alpha stage, there might occur schema related issues (e.g. #290). We'll try to fix those issues rather quickly though.

Have you tried it with the [libvirt provider](https://github.com/dmacvicar/terra

[2020-08-13 08:52] skorfmann opened #306 "Debug Command"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-13 08:55] skorfmann commented on #305
Closing as duplicate of https://github.com/hashicorp/terraform-cdk/issues/298

[2020-08-13 08:55] #305 closed

[2020-08-13 08:55] skorfmann commented on #298
Thanks for creating this issue - that would be pretty good to have!

[2020-08-13 08:57] Mejato commented on #303
Yes and thats when i get the following error

Error: Failed to install providers

Could not find required providers, but found possible alternatives:

hashicorp/docker -> terraform-providers/docker

If these suggestions look correct, upgrade your configuration with the
following command:
terraform 0.13upgrade .

[2020-08-13 08:59] skorfmann commented on #303
Could you publish this as a repo somewhere, so I can have a look?

[2020-08-13 09:07] Mejato commented on #303
https://github.com/Mejato/Terraform_Docker_Provider.git

[2020-08-13 09:14] MalloZup commented on #304
@skorfmann many thanks! No I didn't tried it yet , I discovered cdk in these days and was curious to know how to integrate and see if there were any docs that I could follow for future

[2020-08-13 09:23] skorfmann commented on #303
For the `cdktf get` to work, this file has to be adjusted https://github.com/Mejato/Terraform_Docker_Provider/blob/559e076af19746e6bcc1848cc3459775f0c18b5f/Docker/Getting_Started/cdktf.json#L4

[code]

What I believe you did and probably got lost while publishing. One issue I saw for me locally though:  The generated python package is:

- empty
- a different path than expected

I'll have more thor

[2020-08-13 09:27] skorfmann opened #307 "Python Integration Tests for 3rd Party Providers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-13 09:29] skorfmann commented on #304
Happy to help you out there, would be awesome to have an example for this scenario.

[2020-08-13 09:30] Mejato commented on #303
It only happens with the docker provider and when using the 'terraform-providers/docker' provider with Terraform version 0.13.0 the provider modules doesn't load from the imports directory and my project folder is marked as sources root and acknowledges the package imports.terraform-providers.

I can also confirm that another provider works running Terraform version 0.13.0.
`{
  "language": "pytho

[2020-08-13 13:52] skorfmann commented on #303
In some cases, it looks like that existing state has to adapted as well - see https://github.com/hashicorp/terraform/issues/25794#issuecomment-673111674

Just had to this for an existing project when upgrading to `0.13.0`

[code]

[2020-08-13 20:51] skorfmann opened #308 "Create Minimal Template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-13 21:08] skorfmann commented on #303
@Mejato thanks again for uploading your example, this helped me to understand the issue. While Typescript was working fine, the Python workflow was broken for providers which aren't maintained by HashiCorp (and hence have a namespace in 0.13).

It'll be fixed with #309

[2020-08-13 21:47] Mejato commented on #303
@skorfmann , awesome thanks for your assistance!

[2020-08-13 23:45] #307 closed

[2020-08-14 18:45] alexhowardconga commented on #35
This does not seem to work for modules. There is no `provider(s)` attribute attached to the generated configuration objects for modules such as [VPC](https://github.com/terraform-aws-modules/terraform-aws-vpc) and [EKS](https://github.com/terraform-aws-modules/terraform-aws-eks).

This makes it not possible to create multiple EKS clusters in different regions with the same stack, unless I am unawa

[2020-08-14 18:51] skorfmann commented on #35
That's a good point - Could you create a [feature request](https://cdk.tf/feature) for this?

For the time being, you could resort to an [escape hatch](https://cdk.tf/escape-hatch) on the module object.

[2020-08-15 17:12] #201 closed

[2020-08-15 18:37] #260 closed

[2020-08-15 19:12] alexhowardconga opened #315 "Modules have no providers attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-17 07:52] Mejato commented on #268
Hi @sonfrau
I'd recommend you read the following article for a better understanding of pipenv and how it relates to specific versions of python https://pipenv-fork.readthedocs.io/en/latest/basics.html#specifying-versions-of-python

You definitely have a  dependency conflict within you environment, more on this can be found here:
https://www.activestate.com/resources/quick-reads/how-to-manage-pytho

[2020-08-17 09:53] neilkuan opened #317 "🚀 Feature Request : Docker local build image ."
### Description
Hi all
I see aws cdk have this https://docs.aws.amazon.com/cdk/api/latest/docs/aws-ecr-assets-readme.html
DockerImageAsset
I can use `new DockerImageAsset ` help me build my local Dockerfile to image and push to AWS ECR
[code]

Is it possible to have a similar method to help us build image via  local Dockerfile  and then push it to GCP Container Registry or Azure Container Registry

[2020-08-17 10:40] skorfmann commented on #317
That's essentially a Level 2 construct which you're talking about. To make this possible, we need #98 - Which are currently being implemented - e.g. see https://cdk.tf/provider/aws

However, I do have an example of an `EcrAsset` Level 2 construct for the Terraform CDK AWS Provider. Let me polish it a bit and then I'll publish and ping you.

For GCP or Azure, do you have to create the Docker reposi

[2020-08-17 10:47] guan840912 commented on #317
GCP we can import something like `google.json` service account credentials , I think Azure have something like that ~~~ 😊😊😊😊

[2020-08-17 10:49] skorfmann commented on #317
Ah - yes. What I meant was credentials for `docker push` :)

[2020-08-17 10:53] guan840912 commented on #317
GCP can get `docker push` credentials like that 😁😁😊
[code]

[2020-08-17 12:33] jsteinich opened #318 "Generated providers should require the version of the provider they were built against or higher"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-17 14:56] skorfmann commented on #318
I think that's a duplicate of https://github.com/hashicorp/terraform-cdk/issues/43 ?

[2020-08-17 15:10] skorfmann commented on #318
Right, that makes sense 👍

[2020-08-17 16:22] MelvitaAndrade opened #319 "cdktf synth not able to generate a proper cdk.tf.json"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-17 18:58] anubhavmishra commented on #98
We are tracking the documentation about how to generate provider packages [here](https://github.com/terraform-cdk-providers/cdktf-provider-project/issues/5).

[2020-08-17 19:00] anubhavmishra opened #320 "Document usage of provider packages"
Add a section in the following document about using provider packages: https://github.com/hashicorp/terraform-cdk/blob/master/docs/working-with-cdk-for-terraform/importing-providers-and-modules.md

- Add package in the `package.json` file

[2020-08-17 23:24] anubhavmishra commented on #319
@MelvitaAndrade do you think you can provide the TypeScript code? eg: `main.ts`.

[2020-08-18 05:42] MelvitaAndrade commented on #319
@anubhavmishra the EcsTaskDefinition part of it still under works but the ECR repository creation and destruction happens properly. The only issue is with the `cdktf synth` step.

[code]

[2020-08-18 05:45] skorfmann commented on #319
Could you explain what kind of error you see? The JSON which you posted above is at least valid JSON. So I'm wondering what the issue is.

[2020-08-18 08:22] guan840912 commented on #319
Hi @MelvitaAndrade
I have some example for aws ecs in [here](https://github.com/cdkmeetup/taiwan-meetup-august2020/blob/master/03-otto-neil/aws-ecs-fargate/main.ts
) can work ~~

Maybe can help you solve your problem ~~

[2020-08-18 09:05] kevinglasson opened #323 "[Python] Specifying 'depends_on' during object creation is not working."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-18 19:45] cmclaughlin opened #324 "New Python template for pip without pipenv"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-18 21:11] anubhavmishra opened #325 "Project Metrics"
During the experimental period of this project, we would like to collect telemetry reporting such as the cdktf version, language, provider name, etc to help us guide the product features and roadmap.

We will do this using [Checkpoint](https://checkpoint.hashicorp.com) which is already used by all HashiCorp projects including Terraform that CDK for Terraform depends on to generating and deploying

[2020-08-19 04:24] cmclaughlin commented on #324
I have a rough draft PR going here - #327.
Please let me know if there are any concerns.

[2020-08-19 08:52] skorfmann commented on #324
My gut feeling right now is, that this isn't something which we should just do. I'm not a frequent Python user, so I'll have to familiarize myself with the implications this has.

Why is the private PyPi instance worse?

[2020-08-19 10:53] skorfmann commented on #323
Yes, a minimal example would be good 👍

[2020-08-19 13:02] kevinglasson commented on #323
@skorfmann Updated with a minimal example just using Null and Time providers. As you can see the depends_on field is only filled when I use `add_override`.

Maybe I'm missing something?

[2020-08-19 13:16] kevinglasson commented on #323
errr nevermind it works fine with the object reference - I don't know how I got so sidetracked

[2020-08-19 13:16] #323 closed

[2020-08-19 15:19] cmclaughlin commented on #324
I can't imagine why my private PyPi would make the situation worse - it's a CodeArtifact repo hosted by AWS, so it should be fast and reliable. But let's ignore that for now - at my company we have one other non-cdktf project where someone tried to use pipenv - that doesn't use our new private PyPy - and we've had the same sorts of problems with pipenv there. Install and "locking" takes infinitely

[2020-08-19 16:53] jsteinich commented on #324
I also ran into https://github.com/pypa/pipenv/issues/1050 when trying to get cdktf python working on Windows.
As it stands now, it is enforcing a more specific version of python to be installed then I think is desired.

[2020-08-19 19:36] skorfmann commented on #324
@cmclaughlin thanks for elaborating on this, very appreciated! I'll go through the links and collect more feedback on this.

@jsteinich

So you think Pipenv makes it harder to use on Windows?

Still haven't gotten a precise version compatibility info about Jsii - just saw a comment today stating `> 3.7` - but not sure if that's a hard fact.

[2020-08-19 20:55] skorfmann commented on #317
@guan840912  here's [an example](https://github.com/skorfmann/cdktf-aws-ecr-asset/blob/4232e5341888848e04f72554ae66a78fe13a233b/src/index.ts) for AWS ECR.

It could be an interesting experiment, to build something like a generic Docker asset, which works with AWS / Google & Azure.

[2020-08-19 21:58] jsteinich commented on #324
I don't think it's specific to Windows. Right now the python template says that `3.7` is required. I have `3.8.5` installed. I believe I was hitting https://github.com/hashicorp/terraform-cdk/issues/268, but it's been awhile and maybe it wasn't caused by the python version mismatch. Once I get a few other pieces taken care of I can go back and check.

[2020-08-20 00:27] guan840912 commented on #317
Thank you for the information  😊 😊 😊

[2020-08-20 01:06] anubhavmishra commented on #324
@skorfmann I don't think I have seen issues with pipenv. My python projects have been fairly quick when initializing and synthesizing applications. I think we should gather more feedback from the community on this one.

[2020-08-20 18:24] anubhavmishra commented on #217
@Madko are you still seeing this bug? Otherwise, we can close this issue.

[2020-08-20 20:56] skorfmann commented on #272
Implemented in #276

[2020-08-20 20:56] #272 closed

[2020-08-21 05:28] cmclaughlin commented on #324
I spent some time looking into my specific/recent problem with pipenv... I've determined pipenv is not compatible with AWS Code Artifact... sorry I brushed that off as a possibility earlier. While most cdktf users won't experience this, it certainly frustrates me enough to not want to use pipenv and recommend against anyone else using - because it's not following what the rest of the Python commun

[2020-08-21 08:39] skorfmann commented on #324
Cool, thanks for clarifying this.

I think a good first step would be adding an additional Python template to the `cdktf-cli` which works without Pipenv, perhaps something like `python-pip`. What do you think?

[2020-08-21 09:22] skorfmann opened #333 "Investigate Integration Tests"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-21 12:31] jsteinich opened #334 "PR build integration tests aren't consistent in which build artifacts they use."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-21 18:07] skorfmann opened #335 "Add Template for Examples"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-22 13:35] skorfmann opened #337 "[init] Graceful Error Handling for Terraform Cloud Init"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-22 13:39] skorfmann opened #338 "Test all Templates Explicitly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-22 13:54] skorfmann opened #339 "Remote Templates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-23 18:14] theabrar commented on #65
I was able to create the cdktf-cli formula locally, however, we have cdktf package as well and I guess we want a formula for it too?

[2020-08-23 22:48] kaisellgren opened #340 "Hashmap values like "_FOO" are converted incorrectly to "foo" in cdk.tf.json file"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-23 23:34] jsteinich commented on #340
Sounds like #235
Take a look at [this comment](https://github.com/hashicorp/terraform-cdk/issues/235#issuecomment-662942782) for some possible workarounds.

[2020-08-24 03:10] cmclaughlin commented on #282
Here's Python code to add to a stack to work around it:

[code]

[2020-08-24 04:11] cmclaughlin commented on #282
Expanding on my last comment, here's a class that works around the SG issue and it's a drop in replacement for `cdktf.app`

[code]

[2020-08-24 12:20] #194 closed

[2020-08-24 12:21] skorfmann commented on #334
Resolved by limiting the upload to only one build job via #270

[2020-08-24 12:21] #334 closed

[2020-08-24 12:22] skorfmann commented on #267
Fixed by #270

[2020-08-24 12:22] #267 closed

[2020-08-24 12:22] skorfmann commented on #268
Fixed by #270

[2020-08-24 12:22] #268 closed

[2020-08-24 13:06] sherryxcheng commented on #282
Yes, that is what I did. I like that @cmclaughlin said it better and the workaround in synth.

[2020-08-24 14:05] skorfmann commented on #340
Yes - looks like the same issue. Please watch the ticket #235 for changes, going to close this one here as duplicate.

[2020-08-24 14:05] #340 closed

[2020-08-24 16:01] theabrar commented on #65
@skorfmann https://github.com/hashicorp/terraform-cdk/pull/342 Please have a look.

[2020-08-24 16:57] anubhavmishra commented on #65
I will be reviewing the PR /cc @skorfmann

[2020-08-24 19:12] anubhavmishra commented on #293
We discussed this and we want to publish the next verbose version to PyPi for the users using the next version of the CLI.

[2020-08-24 19:22] anubhavmishra commented on #282
This might be related to https://github.com/hashicorp/terraform-cdk/issues/39

[2020-08-24 20:13] #98 closed

[2020-08-24 20:13] #275 closed

[2020-08-24 20:13] #284 closed

[2020-08-24 20:13] #308 closed

[2020-08-24 20:13] #320 closed

[2020-08-24 20:40] skorfmann commented on #339
What I have in mind is something similar to this: https://guides.rubyonrails.org/rails_application_templates.html - Which would translate to a more elaborate version of the [hooks](https://github.com/hashicorp/terraform-cdk/blob/4c4dd9caf5ce8f2e79ab3151e4400cfc31281500/packages/cdktf-cli/templates/python/.hooks.sscaff.js) file which we have already.

I'm sure there's some NPM package to do this al

[2020-08-24 20:41] #250 closed

[2020-08-24 21:27] cmclaughlin commented on #243
I think this line installs the cdktf python package via Pipenv, and pipenv adds it to the Pipfile:

https://github.com/hashicorp/terraform-cdk/blob/master/packages/cdktf-cli/templates/python/.hooks.sscaff.js#L35

In my local dev env, here's what I see (if installed from npm, I think your Pipfile will point to the PyPi package name not a local wheel):

[code]

Perhaps we can close the issue?

[2020-08-24 21:54] kaisellgren commented on #235
For future reference to others: if you're using something like `gcp.CloudRunService` and you need to add inside an existing array you can do this:

[code]
Output:

[code]

It's not documented, but you can access array items via syntax `foo.0.bar` or `foo.2.bar`, etc.

[2020-08-25 07:49] skorfmann commented on #243
Yes, that's correct.

@abhishekamralkar how did you initialize the project?

[2020-08-25 09:25] skorfmann commented on #333
I don't think we have any actionable items left here. Let's get back to this, if this happens again.

[2020-08-25 09:25] #333 closed

[2020-08-25 09:30] skorfmann commented on #269
@cmclaughlin Is this still an issue? If so, could you provide a bit more context since it looks like it's related to the local setup.

[2020-08-25 09:32] skorfmann commented on #24
I think this can only be tackled in manual abstractions (Level 2 / 3). Inferring this from documentation seems a bit too far fetched for the time being. Closing for now.

[2020-08-25 09:32] #24 closed

[2020-08-25 09:37] skorfmann commented on #153
Yes, let's close it.

[2020-08-25 09:37] #153 closed

[2020-08-25 09:42] skorfmann commented on #303
Closing as https://github.com/hashicorp/terraform-cdk/pull/309 was merged and released

[2020-08-25 09:42] #303 closed

[2020-08-25 09:49] skorfmann commented on #319
@MelvitaAndrade Please reopen with more context if the issue still exists. In the best case, a dedicated repository where we can easily reproduce the issue.

[2020-08-25 09:49] #319 closed

[2020-08-25 09:52] skorfmann commented on #46
@anubhavmishra is this still something we want to do? I think we could wait for the Terraform Registry to provide this, now that we have prebuilt providers. What do you think?

[2020-08-25 18:40] cmclaughlin commented on #269
Yes, I can still reproduce this...

Twine is not installed in Python environments by default. But it's needed for `yarn package`.

I can certainly add `pip install twine` to the docs, but it seems like it should be automated... and/or if jsii requires twine, perhaps the fix should be there? Grepping my `node_modules/jsii-pacmak` does show some commands that should install twine, but I'm not sure i

[2020-08-26 03:27] jsteinich opened #346 "Add feature flags for enabling breaking changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-26 03:39] jsteinich opened #347 "Support configurable runtime context"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-26 05:11] cmclaughlin opened #348 "Support for CLI variables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-26 08:17] #290 closed

[2020-08-26 08:39] skorfmann commented on #348
While it's good to have native support to generate native Terraform variables, I see the use-case for these more in the direction of generating hybrid modules and perhaps when using Terraform CDK as some sort of template generator. However, both use-cases are not in the focus at the moment.

Terraform variables are not a primary objective for Terraform CDK workflows. If you're using the `cdktf cli

[2020-08-26 08:41] skorfmann commented on #347
Yes, agreed - we don't need context lookups in that sense.

It could make sense to use context as way to provide configuration via the cli - see #348

[2020-08-26 08:43] skorfmann commented on #346
Yes, I'd prefer `cdktf.json` as well 👍

[2020-08-26 13:00] jsteinich commented on #348
I agree that for fresh projects Terraform variables don't really seem like the best use of cdktf; however, I think they could be useful in migrating existing Terraform workflows into cdktf. This would allow easy separation of hcl -> typescript/python/etc and the configuration values used. Maybe it's a mute point since running cdktf will already be a change, but worth considering.

[2020-08-26 13:12] jsteinich commented on #347
I'd be curious if @eladb or anyone else that has worked more extensively with the AWS CDK has opinions on this, but I'm personally in favor of keeping `cdktf.json` to be limited to just configuration values for the cdktf cli/runtime.

I don't really see app configuration as something that cdktf should be trying to solve; however, it is important that users are able to easily do what they need. Thi

[2020-08-26 13:48] soulman-is-good opened #349 "Optional terraform binaries"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-26 13:51] skorfmann commented on #349
That's already being worked on in #344

[2020-08-26 14:47] cmclaughlin commented on #348
Yeah, I’m using ENV vars and Yaml input files now. That is good enough for me.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jon Steinich <notifications@github.com>
Sent: Wednesday, August 26, 2020 6:00:28 AM
To: hashicorp/terraform-cdk <terraform-cdk@noreply.github.com>
Cc: McLaughlin, Charles <cmclaughlin@shopstyle.com>; Author <author@noreply.github.com>
Sub

[2020-08-26 17:07] skorfmann commented on #349
@soulman-is-good I'm curious about the azure devops pipeline you mentioned. Is it a public one or something you built yourself? In particular since you mentioned that there are no terraform binaries involved - could you elaborate on that?

[2020-08-27 09:14] soulman-is-good commented on #349
@skorfmann I would like to express my excitement regarding this project and really want it to evolve.
The way how we use it right now is we write infra in typescript then we run main.tf with ts-node which creates cdktf.json file to run with terraform. This is perfect for us to use as deployment artifact in our flow.

Regarding ADO, not sure if I understand what did you mean by "built yourself".
ht

[2020-08-27 10:05] soulman-is-good opened #351 "Running under the proxy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-27 10:48] DJAlPee opened #352 "Wrong TF reference generated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-27 12:34] jsteinich commented on #352
I think this is a related issue to https://github.com/hashicorp/terraform-cdk/issues/188, since `certificateArn` is a required property of `AcmCertificateValidation`, the value that it was set to is being returned directly rather than a reference.

I think a workaround could look something like this:
[code]

[2020-08-27 12:59] DJAlPee commented on #352
Yes, seems to be the same cause for this. Looking forward for the PR to be merged!

Your approach for a workaround is also quite nice...
Because I care more about the dependency, than the "value", the  explicit dependency using "dependsOn" is sufficient for me.

[2020-08-27 21:15] anubhavmishra commented on #65
This was fixed by PR: #342

[2020-08-27 21:16] #65 closed

[2020-08-28 08:36] skorfmann commented on #349
Yes, I was curious how you use Azure Devops for deployment. Looked into it again, and it looks very similar to Github Actions.

Right, that makes sense. Thanks for the info 👍

[2020-08-28 08:37] skorfmann commented on #351
Thanks for reporting this issue, I believe that's a regression of #326 - Networking issues shouldn't interrupt the workflow here.

[2020-08-28 08:40] skorfmann commented on #351
In the meantime, you can disable the metrics via the `CHECKPOINT_DISABLE` env.

[2020-08-28 09:13] soulman-is-good commented on #351
Thanks @skorfmann that works for me

[2020-08-28 15:11] lw-trectenwald opened #354 "Pipenv Version Error"
When following the documentation and setting up a python environment, I perform the below steps:

- Install CDK TF (`brew install cdktf`)
- Install Pipenv (`brew install pipenv`)
- Pipenv installs `python@3.8` as a depedency.

I now show:

[code]
I then run `cdktf init --template="python" --local` and accept the defaults.
During the init, I received the following errors:

[code]

I.e. my environme

[2020-08-28 16:36] lw-trectenwald commented on #354
My fault. Had leftover virtualenvs that were being picked up. Sorry.

[2020-08-28 16:36] #354 closed

[2020-08-31 14:35] AmrMKayid opened #355 "GCP & AZURE Python Support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-31 14:43] skorfmann commented on #355
There's one [pull request](https://github.com/hashicorp/terraform-cdk/pull/350) for a Python Azure example. Other than that, it's pretty similar to the [Typescript examples](https://github.com/hashicorp/terraform-cdk/tree/master/examples/typescript), and should be transferable to Python.

In general, Terraform CDK isn't limited to particular providers. All available providers for Terraform should

[2020-08-31 14:55] #189 closed

[2020-08-31 14:55] #222 closed

[2020-08-31 14:55] #349 closed

[2020-09-02 09:02] skorfmann commented on #36
@anubhavmishra let's just move our docker image to the Github Registry https://github.blog/2020-09-01-introducing-github-container-registry/ - I think this might solve our issues.

[2020-09-04 03:31] dethmix opened #358 "Allow to specify terraform binary via environment variable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-04 04:14] cmclaughlin commented on #358
Not (yet?) an official recommendation for this project, but I use tfenv.

This might solve it for you...

[code]
You can also pin the terraform version in your cdk stacks like this.

[code]

[2020-09-04 12:43] jsteinich commented on #358
@dethmix I would actually consider this a bug. If you are interested, a PR would be appreciated.

[2020-09-04 20:15] dpavlov-smartling commented on #358
Hello @jsteinich I am not a js/ts programmer, but following changes solved mentioned issue
[code]

I can try to create a PR if I could push my branch or you can add it.

@cmclaughlin thanks for the note about **tfenv**!
Thanks

[2020-09-04 20:18] dethmix commented on #358
@jsteinich I am not a ts/js developers, but following changes solved mentioned issue
[code]

I can try to create a PR if I could push my branch, or you can do this from your side.

@cmclaughlin thank you for the note about **tfenv**

[2020-09-04 22:55] colvint commented on #198
Changing `yarn` to `npm` in `package.json`:

[code]

Resolved the issue for me. I don't have `yarn` installed and don't plan to. So for those in the same boat... You can make that change and then run:

`npm run build`

To generate your `typescript` constructs.

[2020-09-05 14:51] jsteinich commented on #358
Thanks @dethmix. If you push your change to a branch in your fork, it's pretty easy to create a PR, but I'm happy to take over if you'd rather.

[2020-09-06 08:41] skorfmann commented on #198
@colvint that's a good point, thanks for the heads-up. I just created a PR to fix this https://github.com/hashicorp/terraform-cdk/pull/359

[2020-09-06 08:52] skorfmann commented on #358
@dethmix thanks for raising this issue!

@cmclaughlin

Yes, `tfenv` works quite well for me as well. Similar tools, e.g. `asdf`, should work as well.

@jsteinich

Agreed, that's a bug.

[2020-09-06 09:09] skorfmann commented on #355
I think we can close this, I'm sure more examples will be added in the future. Please reopen, if something hasn't been answered from your point of view.

[2020-09-06 09:09] #355 closed

[2020-09-06 09:11] skorfmann commented on #352
Closing as duplicate of https://github.com/hashicorp/terraform-cdk/issues/188 and with a PR in the pipeline which is addressing this https://github.com/hashicorp/terraform-cdk/pull/310

[2020-09-06 09:11] #352 closed

[2020-09-07 08:15] #281 closed

[2020-09-07 08:25] skorfmann opened #361 "Allow Custom String Representation of Constructs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-07 08:32] skorfmann opened #362 "Add Dependabot Configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-07 09:08] #188 closed

[2020-09-07 11:04] AmrMKayid opened #364 "Project Initialization Failure (python-pip)"
I am trying to initialize a python project using cdktf and `python-pip` template and I am getting a failure.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments

[2020-09-07 11:12] skorfmann commented on #364
Hmm, this looks like a network issue / temporary issue with the Terraform registry. Could you double check that it's still broken?

[2020-09-07 11:18] AmrMKayid commented on #364
I rerun the command with a different internet connection and it works! Thanks for your reply. I am closing the issue now

[2020-09-07 11:18] #364 closed

[2020-09-07 13:22] skorfmann commented on #35
@jsteinich Since you mentioned that you're using work spaces here https://github.com/hashicorp/terraform-cdk/pull/277#issuecomment-688302546

Do you have an opinion if at all and how workspaces would be modelled in a multiple stacks scenario? I'm putting together an RFC at the moment, and I'm looking for input around work spaces.

[2020-09-07 15:07] jsteinich commented on #35
I see multiple stacks aligning nicely with the logical sections of an application. These sections are likely updated at different cadences, have different risk thresholds (dropping a db is a much bigger concern then restarting an ecs task), have dependencies on other sections, and other factors.

Another dimension (not always independent) is the different environments that an application exists in

[2020-09-08 12:46] jsteinich opened #365 "terraform-aws-modules/vpc module fails to compile with Java"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-08 15:33] skorfmann commented on #365
😱

Heh, that's interesting 😄

Not sure what you mean by that, could you explain a bit more?

Hmmmm, that sounds like it would cause lots of longterm maintenance issues

I'm sure someone will do it at some point, but I don't think that's the right approach here. I was thinking that it might be a workaround if we would be able to transform the entire module automatically, but we'd still end up havin

[2020-09-08 16:56] dpavlov-smartling commented on #358
@jsteinich I will try to create PR, thx

[2020-09-08 16:57] dethmix commented on #358
@jsteinich I will try to create PR, thx

[2020-09-08 22:01] jsteinich commented on #365
There is currently a class named `Jsii$Proxy` that is generated for `VpcOptions`. That class has two constructors. The problematic one, which is used by the builder class, takes each input as a parameter. The proxy fields could be set via setters/direct field access instead (or some more complicated additional method(s) for parameters above the limit). This would force the proxy fields to be non-f

[2020-09-09 07:46] skorfmann commented on #358
Resolved by https://github.com/hashicorp/terraform-cdk/pull/366

[2020-09-09 07:46] #358 closed

[2020-09-10 10:31] philiphorrocks opened #368 "Go language support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-10 13:59] skorfmann commented on #167
Just stumbled upon this again: This actually happens as well, when a non existing cloud workspace gets defined in code and therefore is automatically created on deploy.

[2020-09-10 14:07] skorfmann opened #369 "Depends On Data Sources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-10 19:28] anubhavmishra commented on #368
Hey @philiphorrocks, thanks for opening this issue. Golang support for any CDK ecosystem project depends on [jsii](https://github.com/aws/jsii) to enable us to generate CDK constructs. Currently, jsii doesn't have support for Golang but from what we know, it is being worked on by the team. GH issue: https://github.com/aws/jsii/issues/83

[2020-09-11 12:09] skorfmann commented on #368
The overall progress of GoLang support for jsii can be tracked here https://github.com/aws/jsii/projects/2

[2020-09-11 12:14] nikovirtala opened #370 "Unable to re-login to Terraform Cloud after API token removal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-13 09:04] bverhoeve commented on #216
Hi @skorfmann I'm looking to contribute to the repository, what exactly needs to be done?

[2020-09-13 12:45] skorfmann commented on #324
This was addressed by https://github.com/hashicorp/terraform-cdk/pull/327

[2020-09-13 12:45] #324 closed

[2020-09-13 12:46] skorfmann commented on #214
Fixed by #310

[2020-09-13 12:46] #214 closed

[2020-09-13 13:04] skorfmann commented on #216
For the case where a user uses something below `0.12`, it would be great to display a clear error message and exit the process. The supported Terraform versions at the moment are `0.12` and `0.13`.  I think the check should go like this:

- `< SUPPORTED => exit` with error message
- `>= SUPPORTED => continue` without further message.

We do have a [terraform check](https://github.com/hashicorp/ter

[2020-09-14 09:33] skorfmann opened #372 "Data Sources aren't working with Complex Computed Types"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-16 18:25] bverhoeve commented on #216
Okay, thanks for the explanation! I'll check to tend to it.

[2020-09-17 14:09] skorfmann opened #373 "Handle Constructs Node Info / Warning / Error Messages"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-17 17:35] ryands17 opened #374 "How to get the list of AZ's of a specific region"
I have created code like this:

[code]

and when I log `azs.names` I get a weird token type string. Something like `'#{Token[TOKEN.0]}'`.

Is there any configuration that I am missing?

[2020-09-17 19:00] skorfmann commented on #374
The behaviour is broken and you're not missing anything. We'll look into that.

Meanwhile, could you elaborate on what you're going to do with the `azs.names` so that we can better understand your use-case? Perhaps there's a workaround to address this.

[2020-09-17 19:05] ryands17 commented on #374
My use-case was fetching the AZ's dynamically so that I don't need to hardcode them when I switch regions. I wanted to perform something like this: https://registry.terraform.io/providers/hashicorp/aws/latest/docs/data-sources/availability_zones#by-state

Deploying 2 subnets in different AZ's by fetching the list automatically and assign each subnet to an AZ.

[2020-09-17 19:17] skorfmann commented on #374
Off the top of my head, you could probably do something like this:

[code]

It's not pretty, but it should work. The entire topic of referencing complex types will get reworked and should address issues like this as well.

[2020-09-17 20:38] ryands17 commented on #374
That works like a charm! Thank you :)

[2020-09-18 10:10] damienpontifex opened #376 "`terraform.workspace` equivalent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-18 16:11] cmclaughlin commented on #376
I was chatting with @jsteinich about this yesterday... I was going to open an issue this morning, but you beat me to it :)

Not sure if you're seeing the exact same thing as me, but there are situations where the cdktf-cli hangs when Terraform prompts about workspaces. Here's an example:

[code]

Sorry to conflate these, but I think this is generally related to another problem I've seen initializi

[2020-09-18 19:10] skorfmann commented on #374
Probably related to https://github.com/hashicorp/terraform-cdk/issues/256

[2020-09-18 19:49] skorfmann commented on #376
@cmclaughlin

Hm, I thought `-input=false` should have fixed these kind of issues (see here https://github.com/hashicorp/terraform-cdk/pull/343)

Which version are you running?

[2020-09-18 19:52] skorfmann commented on #376
@damienpontifex

The interpolation itself should just work:

[code]

Could you elaborate on the use-case you're trying to solve?

[2020-09-18 19:53] cmclaughlin commented on #376
Debug output shows I was using:

[code]

[2020-09-18 20:16] skorfmann commented on #376
Hm, interesting. Well, that's something to investigate then, but it's probably a separate issue?

[2020-09-19 08:28] ming0601 opened #377 "cdktf deploy for typescript-docker failed to output docker providers in cdk.tf.json"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-19 18:40] jsteinich commented on #377
What does your `cdktf.json` file contain?

Also take a look at the [docker example](https://github.com/hashicorp/terraform-cdk/tree/master/examples/typescript/docker).

[2020-09-19 19:16] ming0601 commented on #377
Here is my cdktf.json content

{
  "language": "typescript",
  "app": "npm run --silent compile && node main.js",
  "terraformProviders": [
    "terraform-providers/docker@~> 2.0"
  ]
}

same as the docker example file.

Tested also with aws (aws@~>2.0) and google (google@~>2.5.0) providers, they work well. I have the right output.

[2020-09-20 06:53] damienpontifex commented on #376
@skorfmann I understand the interpolation - maybe it's just that I couldn't find the `terraform` variable/global as appropriate to access this property as `${terraform.workspace}`.

My workaround was that I was setting up the `RemoteBackend` as below and if custom workspace needing run it as `WORKSPACE=ponti-dev cdktf deploy`

[code]

Then I can reuse the `workspaceName` local. This works fine for

[2020-09-20 14:46] jsteinich commented on #376
@damienpontifex `TF_WORKSPACE` is supported by Terraform, but as @cmclaughlin noted, there are currently some issues with it.

[2020-09-20 15:08] jsteinich commented on #377
I'm able to reproduce this by omitting `new DockerProvider(this, 'provider', {})` from the sample. After adding it back in, things work as expected.

[2020-09-20 19:05] ming0601 commented on #377
Hurrah, it's working. I've cleaned all installations of Terraform and cdktf-cli. Then I pulled the project on GitHub, it's working! Thank you for your support @jsteinich !

[2020-09-20 19:05] #377 closed

[2020-09-23 18:22] skorfmann opened #381 "Configure Github Codespaces"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-23 19:21] anubhavmishra opened #382 "Terraform Cloud Support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-24 01:54] justindra opened #383 "Failed to load config file error?"
I am just trying to run the following example:
https://github.com/hashicorp/terraform-cdk/blob/master/examples/typescript/aws-cloudfront-proxy/main.ts

But running into an error when doing a deploy

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the commun

[2020-09-24 02:13] jsteinich commented on #381
Might be pretty simple: https://github.com/aws/aws-cdk/pull/10470

[2020-09-24 03:35] cmclaughlin commented on #346
I think this can be closed since PR #329 was merged - excited to try that!

[2020-09-24 03:48] jsteinich commented on #346
Resolved with #329

[2020-09-24 03:48] #346 closed

[2020-09-26 15:44] kaisellgren opened #384 "Parametrizing with different remote states causes unexpected issues"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-27 18:27] kaisellgren opened #385 "Terraform errors should be shown when running cdktf commands"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-27 21:07] yrsurya opened #386 "Usng pypi pip for installing cdktf-cli"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-28 01:18] wonboyn opened #387 "ERROR: Invalid requirement: 'cdktf~=0.0.17-pre.66613656b954d42a7aeaf40bd351f741fbda4e11'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-28 01:38] wonboyn opened #388 "Programmatically run cdktf init"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-28 02:31] wonboyn commented on #388
Rookie mistake. Just discovered the --project-name & --project-description options

[2020-09-28 02:31] #388 closed

[2020-09-28 05:54] PacoVK commented on #282
@cmclaughlin this is not only related to Python but also to Typescript.

[2020-09-28 09:46] saxenark opened #389 "How to use a preexisting resource if I know it's id"
Hi,

I am using the latest terraform cdk and I have the following piece of code. My idea is to reuse an existing igw if it's id is provided in the json file, else create a new one.

What I don't understand is that if a user supplies an existing InternetGateway by it's id, how do I use this to specify a dependency condition on creation of my Nat Gateways.?

[code]

Thanks,

[2020-09-28 12:52] jsteinich commented on #387
Likely the same as https://github.com/hashicorp/terraform-cdk/issues/293.
I think for now you'll need to rollback to 0.0.17

[2020-09-28 13:01] jsteinich commented on #389
It's not currently possible to add the dependency directly due to https://github.com/hashicorp/terraform-cdk/issues/369, but once that's fixed you'll want to use `DataAwsInternetGateway`. You just create an instance of it using `internetGatewayId` and reference it as though it were a resource.

You can most likely use an [escape hatch](https://github.com/hashicorp/terraform-cdk/blob/master/docs/wo

[2020-09-28 13:37] saxenark opened #390 "equivalent of aws cdk patterns"
Hi,

I am having difficulty in understanding whether to use aws cdk or terraform cdktf. From my work so far, it appears to me that aws cdk has more robust patterns and constructs which will comply with the well architected framework, all available out of the box. Terraform cdktf will require hand crafting many of such constructs and patterns.

An example in point is the construct [ecs_patterns.App

[2020-09-28 17:57] skorfmann commented on #390
The Terraform CDK generates a 1:1 mapping for the Terraform provider schema. Some of the Terraform providers provide a few abstractions over the raw SDKs / APIs already which you therefore can use with the Terraform CDK as well. However, in CDK terms we're generating [Level 1](https://docs.aws.amazon.com/cdk/latest/guide/constructs.html) constructs. Compared to the AWS CDK we don't provide further

[2020-09-28 18:00] skorfmann commented on #387
Yes, as @jstein said - please downgrade your `cdktf-cli` to `0.0.17`

[2020-09-28 18:00] #387 closed

[2020-09-28 18:01] skorfmann commented on #386
Could you elaborate on the motivation behind it?

[2020-09-28 18:07] skorfmann commented on #384
Sounds similar to what's described in this comment https://github.com/hashicorp/terraform-cdk/issues/376#issuecomment-694956456

[2020-09-28 18:13] skorfmann commented on #383
This looks very similar to this https://github.com/terraform-providers/terraform-provider-aws/issues/14450  and might be either an actual aws-sdk upstream bug, or a format / config error. Is this issue only occurring when using `cdktf` or shows using `terraform` cli directly the same issues?

[2020-09-29 20:37] cmclaughlin opened #391 "Switch new project templates to pre-built providers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-29 22:17] jsteinich commented on #391
I agree and I think @skorfmann is on board as well (https://github.com/hashicorp/terraform-cdk/pull/360#discussion_r491155670)

[2020-09-30 03:02] yrsurya commented on #386
As cdktf-cli also supports python along with javascript and all python packages are available in https://pypi.org/ . It will be convenience to install cli tool directly from there so no need to have npm/nodejs.

 @snimark can provide more info

[2020-09-30 03:08] #386 closed

[2020-09-30 05:48] dirien opened #392 "Helm Support for Kubernetes CDK"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-30 14:49] andynelson opened #393 "cdktf get fails with aws provider @3"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-30 14:56] skorfmann commented on #393
This looks like a blocking issue for recent aws provider versions, we'll fix that soon.

[2020-09-30 19:08] skorfmann commented on #36
Create a pr to build the docker image only if the dockerfile has changed and publish to docker hub

[2020-09-30 19:28] lightningboltemoji opened #394 "Google provider 3 incompatible with Python"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-30 19:32] skorfmann commented on #392
This should just work - Is there something which isn't working with this provider?

[2020-09-30 19:33] skorfmann commented on #391
Yes, the templates should be reworked to be provider independent, and then promote the usage of the prebuilt providers.

[2020-10-02 12:38] jsteinich commented on #394
I was able to reproduce this. As a workaround, you can edit `imports/google/__init__.py` and remove all occurrences of `"\N"`

[2020-10-02 15:17] skorfmann commented on #394
So that should be fixed in the code generator, right?

[2020-10-02 19:06] cmclaughlin opened #398 "cdktf-cli hangs prompting for terraform input"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-02 19:54] #315 closed

[2020-10-02 20:51] netzere opened #399 "Best practices for organizing projects"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-03 01:18] jsteinich commented on #394
It would be nice if jsii handled it, but it should be fixable in cdktf as well.

[2020-10-03 13:10] #381 closed

[2020-10-04 11:32] npalm commented on #282
Same issue for TypeScript, good to see work for a fix is in progress. As workaround I have create the following fix.

[code]

[2020-10-04 15:25] mindlapse opened #400 "cdktf init - `Error: Unprocessable Entity` when selecting an existing empty workspace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-05 02:13] wuqunfei commented on #392
+1

[2020-10-05 02:29] wuqunfei commented on #47
@skorfmann ,any tips and docs to use cdktf lib to build, synthesize, plan, destroy, I only saw cdktf cli to do it now, and the cdktf lib docs is almost empty.

[2020-10-05 03:21] jsteinich commented on #39
For the most part jsii-pacmak (which jsii-srcmak uses) will handle renaming reserved names. It's a potentially breaking change, but it would be nice if this either wasn't used (relying on jsii replacement) or was also used in the module generator so that names were consistent.

[2020-10-05 03:24] jsteinich commented on #393
We could just add to the existing name replacement (#39) which will work once #395 is in, but this should potentially be fixed in upstream jsii-pacmak since that handles other naming conflicts. It does miss a few from [jsii prohibited names](https://github.com/aws/jsii/blob/85764deffd70af92333363bf38478440351654da/packages/jsii/lib/assembler.ts#L2896)

[2020-10-05 09:05] skorfmann commented on #393
Sounds like a good idea 👍

[2020-10-05 09:27] #197 closed

[2020-10-05 11:11] vishmit123 opened #403 "Creation status doesn't update in the console for modules"
When [trying](url) to create an AWS vpc using vpc module, the create status is not updated onto the console. Even though the resources are created and reflecting in the state file.

<img width="622" alt="Screenshot 2020-10-05 at 4 38 11 PM" src="https://user-images.githubusercontent.com/17925519/95072928-a3514d00-0729-11eb-8834-a5c9ebb92eda.png">

[2020-10-05 12:07] skorfmann commented on #196
There's already progress on this by @pmRz00

[2020-10-05 12:09] skorfmann commented on #235
That's being worked on by @jsteinich